<%- include("../../partials/header") %>
    <div class="container-xxl mt-5 px-3">
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>

        <body>

            <div class="d-flex flex-column text-center  h-auto mb-5 border border-dark rounded-3 " style="background:#D9D9D9 ;">


                <!-- all rows -->
                <div class=" m-0   w-100 rounded-top-5 " style="height: 10rem;">
                    <div class=" " style="background: #6DAFFE ;">
                        <div class="row row-cols-xxl-6 row-cols-sm-3   row-cols-3 g-0 h-100">
                            <div class="col-2   align-items-center align-self-center     ">
                                <a href="/tnmdetail/<%= data[0].tnmID %>" class="nav-link active align-mddle ">
                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <iconify-icon width="40" height="40" icon="bi:info"></iconify-icon>
                                        <span class="d-none d-sm-block">ข้อมูลการแข่งขัน</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2   align-items-center align-self-center    ">
                                <a href="/tnmbracket/<%= data[0].tnmID %>" class="nav-link active align-mddle  ">

                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <iconify-icon width="40" height="40" icon="mdi:tournament"></iconify-icon>
                                        <span class="d-none d-sm-block">สายการแข่งขัน</span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-2   align-items-center align-self-center     ">
                                <a href="/tnmparticipant/<%= data[0].tnmID %>" class="nav-link active align-mddle  ">
                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <iconify-icon width="40" height="40"
                                            icon="fluent:people-community-28-filled"></iconify-icon>
                                        <span class="d-none d-sm-block">ผู้เข้าร่วม</span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-2   align-items-center align-self-center     ">
                                <a href="/tnmmatch/<%= data[0].tnmID %>" class="nav-link active align-mddle  ">
                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <iconify-icon width="40" height="40" icon="fa6-solid:table"></iconify-icon>
                                        <span class="d-none d-sm-block">แมทช์การแข่งขัน</span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-2   align-items-center align-self-center    ">
                                <a href="/tnmrank/<%= data[0].tnmID %>" class="nav-link active align-mddle  ">

                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <iconify-icon width="40" height="40"
                                            icon="fa6-solid:ranking-star"></iconify-icon>
                                        <span class="d-none d-sm-block">อันดับ</span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-2   align-items-center align-self-center    ">
                                <a href="/tnmhighlight/<%= data[0].tnmID %>" class="nav-link active align-mddle  ">
                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <iconify-icon width="40" height="40" icon="akar-icons:video"></iconify-icon>
                                        <span class="d-none d-sm-block">ไฮไลต์</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                    <!---------------------------------------------------------------------------------------------------->
                </div>
                <!-- align-self-start -->
                <div class="d-flex flex-column  h-100">
                    <div class="w-100  d-flex flex-row  mt-3  flex-wrap justify-content-center">

                        <p class="display-5 mb-0 text-start text-start  text-wrap text-break">
                            <%= data[0].tnmName %>
                        </p>

                        <a class="btn btn-warning " href="/singlereg/<%= data[0].tnmID %>">สมัครแข่งขัน</a>

                    </div>

                    <div class="w-100  d-flex flex-row justify-content-evenly mt-3 text-center align-items-center ">
                        <img src="../<%= data[0].tnmPicture %>" class="img-fluid" alt="photo_tnm"
                            style="height: 400px; width: 400px;">

                        <div class="block w-50 bg-light  border border-dark  rounded-3 p-5">

                            <div class="row row-cols-1  text-start ">

                                <div class="row row-cols-6 ">
                                    <div class="col-1"><iconify-icon width="25" height="25"
                                            icon="fa6-solid:table"></iconify-icon></div>
                                    <div class="col-5">เริ่มการแข่งขันวันที่</div>
                                    <div class="col-5">
                                        <%= data[0].tnmStartdate %> - <%= data[0].tnmEnddate %>
                                    </div>
                                </div>

                                <div class="row row-cols-6 ">
                                    <div class="col-1"><iconify-icon width="25" height="25"
                                            icon="mdi:tournament"></iconify-icon></div>
                                    <div class="col-11"> (show =<%= data[0].tnmTypegame %> )</div>
                                </div>

                                <div class="row row-cols-6 ">
                                    <div class="col-1"><iconify-icon width="25" height="25"
                                            icon="fluent:people-community-28-filled"></iconify-icon></div>
                                    <div class="col-5">ทีมที่เข้าร่วม 4 ทีม / ผู้เล่น 11 คนต่อ 1 ทีม</div>
                                    <div class="col-5">ทีมที่เข้าร่วม 4 ทีม / ผู้เล่น 11 คนต่อ 1 ทีม</div>
                                </div>

                                <div class="row row-cols-6 ">
                                    <div class="col-1"><iconify-icon icon="akar-icons:video" width="20"
                                            height="20"></iconify-icon></div>
                                    <div class="col-5">สนามฟุตบอล</div>
                                    <div class="col-5">สนามฟุตบอล</div>
                                </div>

                                <div class="row row-cols-6 ">
                                    <div class="col-1"><iconify-icon
                                            icon="material-symbols:file-present-outline-rounded" width="20"
                                            height="20"></iconify-icon></div>
                                    <div class="col-5">ไฟล์แนบ</div>
                                    <div class="col-5"> <a href="../testfile.pdf" download>download</a> loop ไฟล์ ??
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>


                </div>

                
                <div class="d-flex flex-column justify-content-center align-items-center pb-3">
                    <p class="text-start ms-4 mb-1">รายละเอียด</p>
                    <div class="block border border-dark rounded-3 bg-light w-75 text-center text-wrap text-break "
                        style="height: 10em;">
                        <%= data[0].tnmDetail %>/div>
                    </div>
                </div>
            </div>

        </body>

        </html>
    </div>