<%- include("../../partials/header") %>
        <div class="col-10 py-3 mx-auto">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" >
        
        <ul class="nav nav-pills w-100" style="margin-top: 50;">
        <td>
            <a href="/tnmdetail/<%= data[0].tnmID %>" class="nav-link active">ข้อมูลการแข่งขัน</a>
            <a href="/tnmbracket/<%= data[0].tnmID %>" class="nav-link active">สายการแข่งขัน</a>
            <a href="/tnmparticipant/<%= data[0].tnmID %>" class="nav-link active">ผู้เข้าร่วม</a>
            <a href="/tnmmatch/<%= data[0].tnmID %>" class="nav-link active">แมทช์การแข่งขัน</a>
            <a href="/tnmrank/<%= data[0].tnmID %>" class="nav-link active">อันดับ</a>
            <a href="/tnmhighlight/<%= data[0].tnmID %>" class="nav-link active">ไฮไลต์</a>
        </td>
        </ul>

        <div class="card-body border">
            <h1><%= data[0].tnmName %></h1><a class="btn btn-warning" href="/singlereg/<%= data[0].tnmID %>">สมัครแข่งขัน</a>
            <img src="../images/<%= data[0].tnmPicture %>" style="height: 300px; width: 300px;">
            <h5 style="float: left;">รายละเอียด</h5>

            <div class="card-body border">
                เริ่มการแข่งขันวันที่ <%= data[0].tnmStartdate.toLocaleDateString('th-TH',{day: '2-digit', month: 'long', year:'numeric'}) %> - <%= data[0].tnmEnddate.toLocaleDateString('th-TH',{day: '2-digit', month: 'long', year:'numeric'}) %>
                <br>ระบบการแข่งขัน <%= data[0].tnmTypegame %>
                <br>ทีมที่เข้าร่วม
                ไฟล์แนบ <a href="../doc/<%= data[0].tnmFile1%>" download="<%= data[0].playerFile1 %>">Download</a>

            </div>
            <div class="card-body border">
                <%= data[0].tnmDetail %>
            </div>  
        </div>
    </div>
    
    
</body>
</html>
</div>