
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ไฮไลต์</title>
</head>

<!-- for user  -->
<%- include("../../partials/header") %>
<div class="container-xxl mt-5 px-3">
<!DOCTYPE html>
<html lang="en">
<head>
<title>Document</title>
</head>
<body>
<!-- กรอบ box  -->
<div class=" d-flex flex-column text-center h-auto mb-5 border   border-dark rounded-3 "
style="background:#D9D9D9 ;">

<!-- menubar -->
<%- include("../../partials/menuuser.ejs") %>

<div class="container ">
  <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
    <% for(let i = 0; i < data.length; i++) { %>
        <% if(data[i].linkvid) { %>
          <% let videoUrl = data[i].linkvid; %>
          <% videoID = videoUrl.split("/").pop(); %>
          
         
          <div class="col " >
              <div class="card ">
                <div class="card-header"> 
                  <%= data[i].date.toLocaleDateString('th-TH',{day: '2-digit', month: 'long', year:'numeric'})%>
                </div>
                
                <div class="card-body h-auto" style=" height: 300px; ">
                  <div class="ratio ratio-1x1">
                    <iframe width: 100%; height: 300px; src="https://youtube.com/embed/<%= videoID %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="card-footer"><%= data[i].description %></div>
              </div>
            </div>
            
      

    <% } %>
     <%if(data[i].filePic){ %>

      <div class="col">
        <div class="card">
          <div class="card-header"> 
            <%= data[i].date.toLocaleDateString('th-TH',{day: '2-digit', month: 'long', year:'numeric'})%>
          </div>
          
          <div class="card-body h-auto" style=" height: 300px;">
              <img id="myImg" class="img-fluid" src="../../images/<%=data[i].filePic%>" alt="<%= data[i].description%>" width: 100%; height: 300px;>
          </div>
          <div class="card-footer"><%= data[i].description %></div>
        </div>
      </div>
    
        

        <% }} %>  

       
      </div>

     
      

      <%if(!data.length){ %>
        <div class="row py-5">
        <h1>ไม่พบรายการ</h1>
      </div>

        <% }%>
</div>



    <!-- outbox -->
</div>
</body>

</html>
</div>