<%- include("../../partials/header") %>
    <div class="container-xxl mt-5 px-3">
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <title>ผู้เข้าร่วม</title>
        </head>

        <body>


            
            <!-- กรอบ box  -->
            <div class=" d-flex flex-column text-center h-auto mb-5 border   border-dark rounded-3 "
                style="background:#D9D9D9 ;">

                <!-- menubar -->

                <%- include("../../partials/menuuser.ejs") %>
                    <% if(data && data[0]) { %>

                        <% if(!data[0].teamID) { %>
                            <!-- //แบบเดี่ยว -->
                            <div class="card-body">
                                <table class="table w-75 mx-auto mt-5  text-center  table-hover table-striped">
                                    <thead>
                                        <tr style="background-color: rgb(96, 166, 253);">
                                            <th scope="col">ชื่อผู้เล่นที่เข้าร่วม</th>
                                            <th scope="col">เพศ</th>
                                            <th scope="col">อายุ</th>
                                            <th scope="col">คณะ</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider bg-white ">
                                        <% for(let i=0; i < data.length; i++) { %>
                                            <% if(data[i].playerStatus==='accept' ) { %>
                                                <tr>
                                                    <td class="">
                                                        <%= data[i].playerFName %>
                                                            <%= data[i].playerLName %>
                                                    </td>
                                                    <td>
                                                        <%= data[i].playerGender %>
                                                    </td>
                                                    <td>
                                                        <%= data[i].age %>
                                                    </td>
                                                    <td class="">
                                                        <%= data[i].FacName%>
                                                    </td>
                                                </tr>
                                                <% }} %>
                                    </tbody>
                                </table>
                                <% } %>
                                    <% } %>

                                        <% if(data[0].teamID) { %>
                                            <!-- //แบบทีม -->

                                            <div class="card-body w-75 mx-auto">


                                                <p class="fs-4 mt-2">ชื่อทีมที่เข้าร่วม</p>


                                                <% if(data.length) { %>


                                                    <div class="row row-cols-xxl-4  text-center">
                                                        <% for(let i=0; i < data.length; i++) { %>
                                                            <% if(data[i].teamStatus==='accept' ) { %>
                                                                <div class="col mb-3">
                                                                    <div class=" card boder boder-dark p-0 mx-auto"
                                                                        style="width: 15rem;">
                                                                    <button type="button" class="btn p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop">
                                                                        <img src="/team/<%=data[i].teamPic%>"
                                                                            class="card-img-top" alt="phototeam"
                                                                            style="height: 13rem;  padding: 0.5rem;">
                                                                        <div class="card-body">

                                                                            <%= data[i].teamName %>
                                                                        </div>
                                                                    </button>
                                                                    </div>
                                                                </div>
                                                                <% }} %>
                                                    </div>



                                                    <% } %>
                                                        <% } %>
                                            </div>




                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop">
                                               test
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">ข้อมูลทีม</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- ------------------------------ ข้อมูลทีม ------------------------------ -->
                                                            <div class="card">
                                                                <img src="/team/<%=data[0].teamPic%>"
                                                                    class="card-img-top" alt="phototeam"
                                                                    style="height: 11rem;  padding: 0.5rem;">
                                                                <div class="card-body">
                                                                    <%= data[0].teamName %>
                                                                    <table class="table w-75 mx-auto mt-3  text-center  table-hover table-striped      ">
                                                                        <thead class="table-Primary" >
                                                                            <tr >
                                                                                
                                                                                <th scope="col">รายชื่อสมาชิก</th>
                                                                                <th scope="col">อายุ</th>
                                                                                <th scope="col">คณะ</th>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody  class="table-group-divider bg-white " >
                                                                            <% for(let i = 0; i < data.length; i++) { %>
                                                                                <tr>
                                                                    
                                                                                    <td><%= data[i].playerFName %> <%= data[i].playerLName %></td>
                                                                                    <td><%= data[i].playerBirthday %></td>
                                                                                    <td>คณะ??</td>
                                                                                </tr>
                                                                            <% } %>
                                                                        </tbody>
                                                                    </table>



                                                                    

                                                                </div>



                                                            </div>
                                                          
                                                        </div>
                                                        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
                                                    </div>
                                                </div>
                                            </div>
















                                            <!-- if result is empty-->
                                            <% if(!data.length) { %>
                                                <div class="row py-5">
                                                    <h1>ไม่พบรายการ</h1>
                                                </div>
                                                <% } %>


                                                    <!-- out box -->
                            </div>



            </div>
        </body>

        </html>
    </div>