
    <%- include("../../partials/header") %>
    <div class="container-xxl mt-5 px-3">
<!DOCTYPE html>
<html lang="en">
<head>
<title>Document</title>
</head>
<body>


    หน้าผู้เข้าร่วม
    <!-- กรอบ box  -->
    <div class=" d-flex flex-column text-center h-auto mb-5 border   border-dark rounded-3 "
    style="background:#D9D9D9 ;">

    <!-- menubar -->
    
 <%- include("../../partials/menuuser.ejs") %>
 <% if(data && data[0]) { %>

        <% if(!data[0].teamID) { %>
            <!-- //แบบเดี่ยว -->
            <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ชื่อผู้เล่นที่เข้าร่วม</th>
                                <th scope="col">เพศ</th>
                                <th scope="col">อายุ</th>
                                <th scope="col">คณะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < data.length; i++) { %>
                                <% if(data[i].playerStatus === 'accept') { %>
                                <tr>
                                    <td><%= data[i].playerFName %> <%= data[i].playerLName %></td>
                                    <td><%= data[i].playerGender %></td>
                                    <td><%= data[i].age %></td>
                                    <td><%= data[i].FacName%></td>
                                </tr>
                            <% }} %>
                        </tbody>
                    </table>
                <% } %>
    <% } %>

     <% if(data[0].teamID) { %>
    <!-- //แบบทีม -->
            <div class="card-body">
                <% if(data.length) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ชื่อทีมที่เข้าร่วม</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < data.length; i++) { %>
                                <% if(data[i].teamStatus === 'accept') { %>
                                <tr>
                                    <td><%= data[i].teamName %></td>
                                </tr>
                            <% }} %>
                        </tbody>
                    </table>
                <% } %>
    <% } %>
    
    
    
                <!-- if result is empty-->
                <% if(!data.length) { %>
                    <div class="row py-5">
                    <h1>ไม่พบรายการ</h1>
                </div>
                <% } %>
            
        
 <!-- out box -->
    </div>
</body>
</html>
</div>