<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>สายการแข่งขัน</title>

</head>
<body>
    <h1><%= tournamentName %></h1>

        <%- include("../../partials/menu_staff.ejs") %>

        <div class="card-body">
            <% if(data.length) { %>
                <table class="table  w-75 mx-auto my-5 border  border-dark table-striped table-hover text-center align-middle">
                    <thead style="background-color: rgb(96, 166, 253); ">
                        <tr>
                            <th width="100px">ลำดับที่</th>
                            <th scope="col">ชื่อทีม</th>
                            <th width="200px">คะแนน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= data[i].teamName %></td>
                                <td><%= data[i].score %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>


          
</body>
</html>
</div>