<%- include("../../partials/header") %>
<div class="col-10 py-3 mx-auto">
            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>ยืนยัน OTP</title>
            </head>

            <body>
                
                <form action="/verifysingle" method="post">
                    <label for="otp">Enter the OTP from your email:</label>
                    <input type="text" name="otp" id="otp" required>
                    <input type="hidden" name="RestoredOTP" value="<%= OTP %>">
                    <input type="hidden" name="playerFName" value="<%= playerFName %>">
                    <input type="hidden" name="playerLName" value="<%= playerLName %>">
                    <input type="hidden" name="playerGender" value="<%= playerGender %>">
                    <input type="hidden" name="playerBirthday" value="<%= playerBirthday %>">
                    <input type="hidden" name="playerPhone" value="<%= playerPhone %>">
                    <input type="hidden" name="playerEmail" value="<%= playerEmail %>">
                    <input type="hidden" name="facultyID" value="<%= facultyID %>">
                    <input type="hidden" name="playerIDCard" value="<%= playerIDCard %>">
                    <input type="hidden" name="playerStudentID" value="<%= playerStudentID %>">
                    <input type="hidden" name="playerFile1" value="<%= playerFile1 %>">
                    <input type="hidden" name="tnmID" value="<%= tnmID %>">
                    <input type="submit" value="Verify">
                </form>

            </body>

            </html>
        </div>