<%- include("../../partials/header") %>
<div class="col-10 py-3 mx-auto">
            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>ยืนยัน OTP</title>
            </head>

            <body>
                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%= messages.error %></div>
                <% } %>
                


                <script>
                    function submitForm() {
                      // รับค่าจากฟิลด์แต่ละตัว
                      var codeBox1Value = document.getElementById('codeBox1').value;
                      var codeBox2Value = document.getElementById('codeBox2').value;
                      var codeBox3Value = document.getElementById('codeBox3').value;
                      var codeBox4Value = document.getElementById('codeBox4').value;
            
                      // ตรวจสอบค่าว่างหรือไม่
                      if (codeBox1Value === '' || codeBox2Value === '' || codeBox3Value === '' || codeBox4Value === '') {
                        alert('กรุณากรอกข้อมูลให้ครบทุกช่อง');
                        document.getElementById('myForm').reset();
                        return false; // ไม่ส่งฟอร์มเมื่อข้อมูลไม่ครบ
                      }
            
                      // รวมค่าจากฟิลด์ทั้ง 4 ตัวเข้าด้วยกัน
                      var total = codeBox1Value + codeBox2Value + codeBox3Value + codeBox4Value;
                      console.log('🚀 ~ file: tnmhighlight.ejs:171 ~ submitForm ~ total:', total);
            
                      // กำหนดค่าให้กับฟิลด์ hidden ในฟอร์ม
                      document.getElementById('otp').value = total;
                      console.log('ค่า' + document.getElementById('otp').value);
                      // ส่งฟอร์มไปยังเซิร์ฟเวอร์
                      document.getElementById('myForm').submit();
                    }
            
                    function getCodeBoxElement(index) {
                      return document.getElementById('codeBox' + index);
                    }
                    function onKeyUpEvent(index, event) {
                      const eventCode = event.which || event.keyCode;
                      if (getCodeBoxElement(index).value.length === 1) {
                        if (index !== 4) {
                          getCodeBoxElement(index + 1).focus();
                        } else {
                          getCodeBoxElement(index).blur(2);
                          // Submit code
            
                          console.log('submit code');
                        }
                      }
                      if (eventCode === 8 && index !== 1) {
                        getCodeBoxElement(index - 1).focus();
                      }
                    }
                    function onFocusEvent(index) {
                      for (item = 1; item < index; item++) {
                        const currentElement = getCodeBoxElement(item);
                        if (!currentElement.value) {
                          currentElement.focus();
                          break;
                        }
                      }
                    }
                  </script>
                  <div class="card border-dark mx-auto mb-5" style="max-width: 40dvw">
                    <div class="container">
                      <div class="card-header display-4 text-dark">ยืนยันการสมัคร</div>
                      <!-- <p class="display-4">ยืนยันการสมัคร</p> -->
                      <p class="h4 mt-2 text-dark">ส่งรหัส OTP ไปที่อีเมล : <%= playerEmail %></p>
                      <form id="myForm" action="/verifyteam" method="post">
                        <div class="row">
                          <label class="h5 mt-2 text-dark">โปรดใส่รหัส OTP :</label>
                          <div class="container">
                            <div class="d-flex mb-2 justify-content-center p-2">
                              <div class="mx-1">
                                <input
                                  id="codeBox1"
                                  type="text"
                                  maxlength="1"
                                  onkeyup="onKeyUpEvent(1, event)"
                                  onfocus="onFocusEvent(1)"
                                  class="form-control text-center border-dark"
                                  style="width: 60px"
                                  required
                                />
                              </div>
                              <div class="mx-1">
                                <input
                                  id="codeBox2"
                                  type="text"
                                  maxlength="1"
                                  onkeyup="onKeyUpEvent(2, event)"
                                  onfocus="onFocusEvent(2)"
                                  class="form-control text-center border-dark"
                                  style="width: 60px"
                                  required
                                />
                              </div>
                              <div class="mx-1">
                                <input
                                  id="codeBox3"
                                  type="text"
                                  maxlength="1"
                                  onkeyup="onKeyUpEvent(3, event)"
                                  onfocus="onFocusEvent(3)"
                                  class="form-control text-center border-dark"
                                  style="width: 60px"
                                  required
                                />
                              </div>
                              <div class="mx-1">
                                <input
                                  id="codeBox4"
                                  type="text"
                                  maxlength="1"
                                  onkeyup="onKeyUpEvent(4, event)"
                                  onfocus="onFocusEvent(4)"
                                  class="form-control text-center border-dark"
                                  style="width: 60px"
                                  required
                                />
                              </div>
                            </div>
                            <input type="hidden" name="submitOTP" id="otp" />
                            <input type="hidden" name="teamOTP" value="<%= teamOTP %>">
                            <input type="hidden" name="teamName" value="<%= teamName %>" >
                            <input type="hidden" name="tnmID" value="<%=tnmID %>">
                            <input type="hidden" name="uniID" value="<%= uniID %>">
                            <input type="hidden" name="NameAgent" value="<%=NameAgent%>">
                            <input type="hidden" name="LnameAgent" value="<%= LnameAgent %>">
                            <input type="hidden" name="teamPhoneA" value="<%= teamPhoneA %>">
                            <input type="hidden" name="teamEmailA" value="<%= teamEmailA%>">
                            <input type="hidden" name="teamfile" value="<%= teamfile %>">
                            <% for(let i=0; i<values.length; i++){ %>
                            <input type="hidden" name="playerFName" value="<%= values[i][0] %>">
                            <input type="hidden" name="playerLName" value="<%= values[i][1] %>">
                            <input type="hidden" name="playerGender" value="<%= values[i][2] %>">
                            <input type="hidden" name="playerBirthday" value="<%=values[i][3] %>">
                            <input type="hidden" name="playerPhone" value="<%= values[i][4] %>">
                            <input type="hidden" name="playerEmail" value="<%= values[i][5] %>">
                            <input type="hidden" name="facultyID" value="<%= values[i][6] %>">
                            <input type="hidden" name="playerIDCard" value="<%= values[i][7] %>">
                            <input type="hidden" name="player_photo" value="<%= values[i][8] %>">
                            <input type="hidden" name="detailDoc" value="<%= values[i][9] %>">
                            <% } %>
            
                            <button type="button" class="btn btn-success mb-3" onclick="submitForm()">ยืนยัน</button>
                            <button type="reset" class="d-none"></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
            



















<!-- 
                <form action="/verifyteam" method="post">
                    <label for="otp">กรุณากรอกรหัส OTP ที่ได้รับในอีเมล :</label>
                    <input type="text" name="otp" id="otp" required>
                    <input type="hidden" name="teamOTP" value="<%= teamOTP %>">
                    <input type="hidden" name="teamName" value="<%= teamName %>" >
                    <input type="hidden" name="tnmID" value="<%=tnmID %>">
                    <input type="hidden" name="uniID" value="<%= uniID %>">
                    <input type="hidden" name="NameAgent" value="<%=NameAgent%>">
                    <input type="hidden" name="LnameAgent" value="<%= LnameAgent %>">
                    <input type="hidden" name="teamPhoneA" value="<%= teamPhoneA %>">
                    <input type="hidden" name="teamEmailA" value="<%= teamEmailA%>">
                    <input type="hidden" name="teamfile" value="<%= teamfile %>">
                    <% for(let i=0; i<values.length; i++){ %>
                    <input type="hidden" name="playerFName" value="<%= values[i][0] %>">
                    <input type="hidden" name="playerLName" value="<%= values[i][1] %>">
                    <input type="hidden" name="playerGender" value="<%= values[i][2] %>">
                    <input type="hidden" name="playerBirthday" value="<%=values[i][3] %>">
                    <input type="hidden" name="playerPhone" value="<%= values[i][4] %>">
                    <input type="hidden" name="playerEmail" value="<%= values[i][5] %>">
                    <input type="hidden" name="facultyID" value="<%= values[i][6] %>">
                    <input type="hidden" name="playerIDCard" value="<%= values[i][7] %>">
                    <input type="hidden" name="player_photo" value="<%= values[i][8] %>">
                    <input type="hidden" name="detailDoc" value="<%= values[i][9] %>">
                    <% } %>
                    <input type="submit" value="Verify">
                </form> -->

            </body>

            </html>
        </div>