<%- include("../../partials/header") %>
    <div class="col-10 py-3 mx-auto">
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <title>Document</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        </head>

        <body>
            <div class="container text-center">

                <h1 style="margin-top: 20;">แบบฟอร์มสมัครเข้าร่วม <%=data[0].tnmName%>
                </h1>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <form action="/singlereg/" method="post" encType="multipart/form-data" class="needs-validation ">
                    <div class="form-group">


                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationFname" class="col-form-label">ชื่อ</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control border-dark" id="validationFname" value=""
                                    name="playerFName" autocomplete="off" required>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationLname" class="col-form-label">นามสกุล</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control border-dark" id="validationLname" value=""
                                    name="playerLName" autocomplete="off" required>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validation" class="col-form-label">เพศ</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select border-dark" id="validation" name="playerGender" required>
                                    <option selected disabled value="">เพศ</option>
                                    <option value="<%= playerGender='ชาย' %>">ชาย</option>
                                    <option value="<%= playerGender='หญิง' %>">หญิง</option>
                                </select>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationplayerBirthday" class="col-form-label">วัน/เดือน/เกิด</label>
                            </div>
                            <div class="col-auto">
                                <input type="date" class="form-control border-dark" id="validationplayerBirthday"
                                    value="" name="playerBirthday" autocomplete="off" required>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationTel" class="col-form-label">เบอร์โทรศัพท์</label>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control border-dark" id="validationTel" value=""
                                    name="playerPhone" autocomplete="off" pattern="[0-9]{10}" minlength="10"
                                    maxlength="10" required>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationEmail" class="col-form-label">อีเมล</label>
                            </div>
                            <div class="col-2">
                                <input type="email" class="form-control border-dark" id="validationEmail" value=""
                                    name="playerEmail" autocomplete="off" required>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationUni" class="col-form-label">มหาวิทยาลัย</label>
                            </div>
                            <div class="col-auto">
                                <select data-index="<%= 0 %>" name="university" id="university_<%= 0 %>"
                                    class="form-select border-dark w-auto" required>
                                    <option selected disabled value="">เลือกมหาวิทยาลัย</option>
                                    <% data.forEach(function(university) { %>
                                        <option value="<%= university.uniID %>">
                                            <%= university.name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validation" class="col-form-label">คณะ</label>
                            </div>
                            <div class="col-auto">
                                <select data-index="<%= 0 %>" name="facultyID" id="faculty_<%= 0 %>"
                                    class="form-select border-dark w-auto" required>
                                    <option value="">เลือกคณะ</option>
                                </select>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationCard" class="col-form-label">เลขประจำตัวประชาชน</label>
                            </div>
                            <div class="col-2" text-start>
                                <input type="text" class="form-control border-dark" id="validationCard" value=""
                                    name="playerIDCard" autocomplete="off" pattern="[0-9]{13}" minlength="13"
                                    maxlength="13" required>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationSiD" class="col-form-label">รหัสนักศึกษา</label>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control border-dark" id="validationSiD" value=""
                                    name="playerStudentID" autocomplete="off" pattern="[0-9]{13}" minlength="13"
                                    maxlength="13" required>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------- -->
                        <div class="row my-2   row-cols-2">
                            <div class="col-2 text-start">
                                <label for="validationFile" class="col-form-label">เอกสารยืนยันตัวตน</label>
                            </div>
                            <div class="col-3">
                                <input type="file" class="form-control border-dark" id="validationFile" value=""
                                    name="playerFile1" required>
                            </div>
                        </div>

                        <!-- คืออะไรนิ -->
                        <input type="hidden" class="" name="tnmID" value="<%= data[0].tnmID%>">

                    </div>

                    <div class="row row-cols-2 mt-5  text-center d-flex justify-content-center">
                        <div class="col-2">
                            <a href="/tnmdetail/<%= tnmID %>" class="btn btn-danger">ย้อนกลับ</a>
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-success" value="ตกลง">
                        </div>
                    </div>



                </form>
            </div>

            <script>
                $(document).ready(function () {
                    $("[id^=university_]").change(function () {
                        var uniID = $(this).val();
                        var index = $(this).data('index');
                        $.ajax({
                            url: "http://localhost:3000/fetch_faculty",
                            method: "POST",
                            data: { uniID: uniID },
                            dataType: "json",
                            success: function (data) {
                                var options = '<option selected disabled value="">เลือกคณะ</option>';
                                for (var j = 0; j < data.length; j++) {
                                    options += '<option value="' + data[j].facultyID + '">' + data[j].name + '</option>';
                                }
                                $('[data-index="' + index + '"]#faculty_' + index).html(options);
                            }
                        });
                    });
                });
            </script>


        </body>

        </html>
    </div>