<%- include("../../partials/header") %>
        <div class="col-10 py-3 mx-auto">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container text-center">

        <h1 style="margin-top: 20;">แบบฟอร์มสมัครเข้าร่วม <%=data[0].tnmName%></h1>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <form action="/singlereg/" method="post" encType="multipart/form-data">
            <div class="form-group">
                <label>ชื่อ:</label>
                <input type="text" class="form-control" name="playerFName"  autocomplete="off" required>
            </div>
            <div class="form-group">
                <label>นามสกุล:</label>
                <input type="text" class="form-control" name="playerLName"  autocomplete="off" required>
            </div>
            <div class="form-group">
                <label style="margin-top: 15px;">เพศ:</label>
                <select name="playerGender">
                    <option value="<%= playerGender='ชาย' %>">ชาย</option>
                    <option value="<%= playerGender='หญิง' %>">หญิง</option>
                </select>
            </div>
            <div class="form-group">
                <label>วัน/เดือน/ปีเกิด:</label>
                <input type="date" class="form-control" name="playerBirthday"  autocomplete="off" required>
            </div>
            <div class="form-group">
                <label>เบอร์โทรศัพท์:</label>
                <input type="number" class="form-control" name="playerPhone"  autocomplete="off" required>
            </div>
            <div class="form-group">
                <label>อีเมล:</label>
                <input type="email" class="form-control" name="playerEmail"  autocomplete="off" required>
            </div>
            <div class="form-group">
                <label style="margin-top: 15px;">มหาวิทยาลัย:</label>
                <select name='uniID' id="uni-dropdown" required>
                    <option value="">เลือกมหาวิทยาลัย</option>
                <% if(data.length){ %>
                    <% for(var i = 0; i< data.length; i++) { %> 
                    <option value="<%= data[i].uniID%>">
                    <%= data[i].name%>
                    </option>
                    <% } } %>
                </select>
            </div>
            <div class="form-group">
                <label style="margin-top: 15px;">คณะ:</label>
                <select name ='facultyID' id="fac-dropdown" required>
                </select>
            </div>
            <div class="form-group">
                <label>รหัสประจำตัวประชาชน:</label>
                <input type="text" class="form-control" name="playerIDCard" required pattern="[0-9]{13}" minlength="13" maxlength="13">
            </div>
            <div class="form-group">
                <label>รหัสนักศึกษา:</label>
                <input type="text" class="form-control" name="playerStudentID" required pattern="[0-9]{13}" minlength="13" maxlength="13">
            </div>
            <div class="form-group">
                <label>ไฟล์แนบ:</label>
                <input type="file" class="form-control" name="playerFile1" required>
            </div>
            <input type="hidden" name="tnmID" value="<%= data[0].tnmID%>">
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" class="btn btn-success" value="ตกลง">
            </div>

        </form>
    </div>
    
    <script>
        $(document).ready(function() {
        $('#uni-dropdown').on('change', function() {
        var uniID = this.value;
        $("#fac-dropdown").html('');
        $.ajax({
        url: "http://localhost:3000/get-faculty",
        type: "POST",
        data: {
        name: 'university',
        uniID: uniID,
        },
        dataType: 'json',
        success: function(result) {
        $('#fac-dropdown').html('<option value="">เลือกคณะ</option>');
        $.each(result.facu, function(key, value) {
        $("#fac-dropdown").append('<option value="' + value.facultyID + '">' + value.name + '</option>');
        });
        }
        });
        });
        });
    </script>
    
    
</body>
</html>
</div>