<%- include("../../partials/header") %>
    <div class="col-10 py-3 mx-auto">
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <title>แบบฟอร์มสมัครเข้าร่วมการแข่งขัน</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        </head>

        <body>
            <div class="container text-center">

                <h1 style="margin-top: 20;">แบบฟอร์มสมัครเข้าร่วม <%=data[0].tnmName%>
                </h1>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <form action="/teamreg/" method="post" encType="multipart/form-data" class="needs-validation ">

                    <div class="form-grou">
                        <!--  -->
                        <div class="row row-cols-3">
                            <div class="col-6">
                                <div class="row mt-2">
                                    <div class="col-5 text-start">
                                        <label for="validationnameT" class="col-form-label">ชื่อทีม</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control border-dark" id="validationnameT"
                                            value="" name="teamName" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-5 text-start">
                                        <label for="validation" class="col-form-label">ชื่อ(ตัวแทน)</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control border-dark" id="validation" value=""
                                            name="NameAgent" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-5 text-start">
                                        <label for="validation" class="col-form-label">นามสกุล(ตัวแทน)</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control border-dark" id="validation" value=""
                                            name="LnameAgent" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-5 text-start">
                                        <label for="validationTel" class="col-form-label">เบอร์โทรศัพท์</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control border-dark" id="validationTel" value=""
                                            name="teamPhoneA" autocomplete="off" pattern="[0-9]{10}" minlength="10"
                                            maxlength="10" required>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-5 text-start">
                                        <label for="validationEmail" class="col-form-label">อีเมล</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="email" class="form-control border-dark" id="validationEmail"
                                            value="" name="teamEmailA" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                            <!-- รูปภาพ ทีม -->
                            <script>
                                function preview() {
                                    imgpreview.src = URL.createObjectURL(event.target.files[0]);
                                    imgpreview.style.display = "block";

                                }
                            </script>
                            <div class="col-1">
                                <!-- ช่องว่างเว้น -->
                            </div>

                            <div class="col-auto ">
                                <img id="imgpreview" class="w-50 rounded mx-auto mb-2 bg-dark" alt=""
                                    style="height: 8.6rem;  ">
                                <input type="file" class="form-control border-dark" id="validationImage" value=""
                                    name="teamPic" required onchange="preview()">
                            </div>


                        </div>


                        <br>
                        <hr style="height:2px;border-width:0;color:black;background-color:black">
                        <br>
                        <% for(let i=0; i < data[0].sportPlaynum; i++) { %>
                            <p>ผู้เล่นคนที่ <%= i+1 %>
                            </p>
                            <div class="row">
                                <!-- row -->
                                <div class="row mt-2 row-cols-4">
                                    <div class="col-2 text-start">
                                        <label for="validationnameT" class="col-form-label">ชื่อ</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control border-dark" id="validationnameT"
                                            value="" name="playerFName" autocomplete="off" required>
                                    </div>
                                    <div class="col-2 text-end">
                                        <label for="validationnameT" class="col-form-label">นามสกุล</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control border-dark" id="validationnameT"
                                            value="" name="playerLName" autocomplete="off" required>
                                    </div>
                                </div>



                                <!-- row -->
                                <div class="row mt-2 row-cols-4">
                                    <div class="col-2 text-start">
                                        <label for="validation" class="col-form-label">เพศ</label>
                                    </div>
                                    <div class="col-3">

                                        <select name="playerGender" class="form-select border-dark w-auto" required>
                                            <option selected disabled value="">เพศ</option>
                                            <option value="<%= playerGender='ชาย' %>">ชาย</option>
                                            <option value="<%= playerGender='หญิง' %>">หญิง</option>
                                        </select>

                                    </div>
                                    <div class="col-2 text-end">
                                        <label for="validation" class="col-form-label">วัน/เดือน/ปีเกิด</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="date" class="form-control border-dark" id="validation" value=""
                                            name="playerBirthday" autocomplete="off" required>
                                    </div>
                                </div>


                                <!-- row -->
                                <div class="row mt-2 row-cols-4">
                                    <div class="col-2 text-start">
                                        <label for="validation" class="col-form-label">เบอร์โทรศัพท์</label>
                                    </div>
                                    <div class="row-cols-3">
                                        <input type="text" class="form-control border-dark" id="validation" value=""
                                            name="playerPhone" pattern="[0-9]{10}" minlength="10" maxlength="10"
                                            autocomplete="off" required>
                                    </div>
                                    <div class="col-2 text-end">
                                        <label for="validation" class="col-form-label">อีเมล</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="email" class="form-control border-dark" id="validation" value=""
                                            name="playerEmail" autocomplete="off" required>
                                    </div>
                                </div>

                                <!-- row -->
                                <div class="row mt-2 row-cols-4">
                                    <div class="col-2 text-start">
                                        <label for="validation" class="col-form-label">มหาวิทยาลัย</label>
                                    </div>
                                    <div class="col-auto">
                                        <select data-index="<%= i %>" name="university" id="university_<%= i %>"
                                            class="form-select border-dark w-auto" required>
                                            <option selected disabled value="">เลือกมหาวิทยาลัย</option>
                                            <% data.forEach(function(university) { %>
                                                <option value="<%= university.uniID %>">
                                                    <%= university.name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                  
                                </div>
                                <div class="row mt-2 row-cols-4">
                                    
                                    <div class="col-2 text-start ">
                                        <label for="validation" class="col-form-label">คณะ</label>
                                    </div>
                                    <div class="col-auto">
                                        <select data-index="<%= i %>" name="facultyID" id="faculty_<%= i %>"
                                            class="form-select border-dark w-auto" required>
                                            <option value="">เลือกคณะ</option>
                                        </select>
                                    </div>
                                </div>


                                <!-- row -->
                                <div class="row mt-2 row-cols-4">
                                    <div class="col-2 text-start">
                                        <label for="validation" class="col-form-label text-break">เลขประจำตัว
                                            ประชาชน </label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control border-dark  my-auto" id="validation"
                                            value="" name="playerIDCard" autocomplete="off" required pattern="[0-9]{13}"
                                            minlength="13" maxlength="13">
                                    </div>
                                </div>

                                <!-- row -->
                                <div class="row row-cols-1 mb-3">
                                    <div class="row my-2   row-cols-2 ">
                                        <div class="col-3 text-start ">
                                            <label for="validationFile" class="col-form-label">เอกสารยืนยันตัวตน</label>
                                        </div>
                                        <div class="col ">
                                            <input type="file" class="form-control border-dark" id="validationFile"
                                                value="" name="playerFile1" required>
                                        </div>
                                    </div>
                                </div>







                                
                                <br>
                                <hr style="height:2px;border-width:0;color:black;background-color:black">
                                <br>
                                <input type="hidden" name="tnmID" value="<%= data[0].tnmID%>">

                            </div>
                            <% } %>
                    </div>

                    
                            <div class="form-group" style="margin-top: 10px;">
                                <a href="javascript:history.back()" class="btn btn-primary">ย้อนกลับ</a>
                                <input type="submit" class="btn btn-success" value="ตกลง">
                            </div>

                </form>
            </div>

            <script>
                $(document).ready(function () {
                    $("[id^=university_]").change(function () {
                        var uniID = $(this).val();
                        var index = $(this).data('index');
                        $.ajax({
                            url: "http://localhost:3000/fetch_faculty",
                            method: "POST",
                            data: { uniID: uniID },
                            dataType: "json",
                            success: function (data) {
                                var options = '<option selected disabled value="">เลือกคณะ</option>';
                                for (var j = 0; j < data.length; j++) {
                                    options += '<option value="' + data[j].facultyID + '">' + data[j].name + '</option>';
                                }
                                $('[data-index="' + index + '"]#faculty_' + index).html(options);
                            }
                        });
                    });
                });
            </script>




        </body>

        </html>
    </div>