<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>account</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    

    <br><br>

    <div class="card" >
        <div class="card-header">
            เพิ่มบัญชี
        </div>
        <div class="card-body">
            <form action="/account/add" method="post">
                <div class="form-group">
                    <label>ชื่อ:</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label>นามสกุล :</label>
                    <input type="text" class="form-control" name="lname" required>
                </div>
                <div class="form-group">
                    <label>เบอร์โทร :</label>
                    <input type="text" class="form-control" name="phone" required>
                </div>
                <div class="form-group">
                    <label>อีเมล :</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label>รหัสผ่าน :</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label>ยืนยันรหัสผ่าน :</label>
                    <input type="password" class="form-control" name="cpassword" required>
                </div>
                <div class="form-group">
                    <label style="margin-top: 10px;">ระดับผู้ใช้งาน:</label>
                    <select name="level">
                        <option value="<%= level='ผู้ดูแลระบบ' %>">ผู้ดูแลระบบ</option>
                        <option value="<%= level='เจ้าหน้าที่' %>">เจ้าหน้าที่</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <a href="/account" class="btn btn-info">ย้อนกลับ</a>
                    <input type="submit" class="btn btn-info" value="เพิ่ม">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
</div>