<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ข้อมูลบัญชีผู้ใช้งาน</title>
</head>
<body >

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>

    
    <br><br>
    
    <div class="card">
        <div class="card-header display-6">
            ข้อมูลบัญชีผู้ใช้งาน
        </div>
        <div class="card-body">
            <div class="row-cols-1 ">
                <div class="row  ">
                    <div class="col-auto">
                        <label  class="form-label" >ชื่อ</label>
                        
                        <input type="text" class="form-control border border-dark" name="name" value="<%= name %>" autocomplete="off" disabled>
                    </div>
                    <div class="col-auto">
                        <label  class="form-label" >นามสกุล</label>
                        <input type="text" class="form-control border border-dark" name="lname" value="<%= lname %>" autocomplete="off" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto">
                        <label  class="form-label" >เบอร์โทร</label>
                        <input type="text" class="form-control border border-dark" name="phone"  value="<%= phone %>" autocomplete="off" disabled>
                    </div>
                    <div class="col-auto">
                        <label  class="form-label" >อีเมล</label>
                        <input type="email" class="form-control border border-dark" name="email"  value="<%= email %>" autocomplete="off" disabled>
                    </div>
                </div>

             
                
                <div class="row">
                    <div class="col-auto">
                        <label style="margin-top: 10px;">ระดับผู้ใช้งาน</label>
                        <select name="thelevel" class="form-select border border-dark" autocomplete="off" disabled >
                            <option value="<%= thelevel%>"><%=thelevel%></option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label style="margin-top: 10px;">สถานะ</label>
                        <select name="status" class="form-select border border-dark" autocomplete="off" disabled>
                            <option value="<%= status%>"><%= status%></option>
                        </select>
                    </div>
                </div>
            </div>
                <br>
                <div class="form-group">
                    <a href="javascript:history.back()" class="btn btn-danger">ย้อนกลับ</a>
                </div>
        </div>
    </div>

</body>
</html>
</div>