<!-- all rows -->
<div class=" m-0   w-100    rounded-top  " style="height: auto; background-color: #6DAFFE;">
                    
    <div class="row row-cols-xxl-5 row-cols-sm-3 justify-content-center   row-cols-3 g-0 h-100">
        <div class="col-2   align-items-center align-self-center     ">
            <a href="/tnmdetail/<%= tnmID %>" class="nav-link active align-mddle ">
                <div class="d-flex flex-column justify-content-center align-items-center py-3">
                    <iconify-icon width="40" height="40" icon="bi:info"></iconify-icon>
                    <span class="d-none d-sm-block">ข้อมูลการแข่งขัน</span>
                </div>
            </a>
        </div>
        <div class="col-2   align-items-center align-self-center    ">
            <a href="/tnmbracket/<%= tnmID %>" class="nav-link active align-mddle  ">

                <div class="d-flex flex-column justify-content-center align-items-center py-3">
                    <iconify-icon width="40" height="40" icon="mdi:tournament"></iconify-icon>
                    <span class="d-none d-sm-block">สายการแข่งขัน</span>
                </div>
            </a>
        </div>

        <div class="col-2   align-items-center align-self-center     ">
            <a href="/tnmparticipant/<%= tnmID %>" class="nav-link active align-mddle  ">
                <div class="d-flex flex-column justify-content-center align-items-center py-3">
                    <iconify-icon width="40" height="40"
                        icon="fluent:people-community-28-filled"></iconify-icon>
                    <span class="d-none d-sm-block">ผู้เข้าร่วม</span>
                </div>
            </a>
        </div>

        <div class="col-2   align-items-center align-self-center     ">
            <a href="/tnmmatch/<%= tnmID %>" class="nav-link active align-mddle  ">
                <div class="d-flex flex-column justify-content-center align-items-center py-3">
                    <iconify-icon width="40" height="40" icon="fa6-solid:table"></iconify-icon>
                    <span class="d-none d-sm-block">แมตช์การแข่งขัน</span>
                </div>
            </a>
        </div>

        <!-- <div class="col-2   align-items-center align-self-center    ">
            <a href="/tnmrank/<%= tnmID %>" class="nav-link active align-mddle  ">

                <div class="d-flex flex-column justify-content-center align-items-center py-3">
                    <iconify-icon width="40" height="40"
                        icon="fa6-solid:ranking-star"></iconify-icon>
                    <span class="d-none d-sm-block">อันดับ</span>
                </div>
            </a>
        </div> -->

        <div class="col-2   align-items-center align-self-center    ">
            <a href="/tnmhighlight/<%= tnmID %>" class="nav-link active align-mddle  ">
                <div class="d-flex flex-column justify-content-center align-items-center py-3">
                    <iconify-icon width="40" height="40" icon="akar-icons:video"></iconify-icon>
                    <span class="d-none d-sm-block">ไฮไลต์</span>
                </div>
            </a>
        </div>
    </div>
    </div>
<!---------------------------------------------------------------------------------------------------->