<!-- all rows -->

<div class="container-sm m-0 px-2    w-100    rounded-3  " style="height: auto; background-color: #6DAFFE;">
                    
    <div class="row row-cols-xxl-5 row-cols-sm-2   row-cols-2 g-0 ">

        <div class="col-auto text-center py-2 ">
            <a href="/tournament/detail/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">ข้อมูลการแข่งขัน</span>
            </a>
        </div>
        
        <div class="col-auto text-center py-2 ">
            <a href="/tournament/bracket/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">สายการแข่งขัน</span>
            </a>
        </div>
        <div class="col-auto text-center py-2 ">
            <a href="/tournament/participant/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">ผู้เข้าร่วม</span>
            </a>
        </div>
        <div class="col-auto text-center py-2 ">
            <a href="/tournament/match/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">แมทช์การแข่งขัน</span>
            </a>
        </div>
        <div class="col-auto text-center py-2 ">
            <a href="/tournament/highlight/<%= tnmID %>" class="nav-link active align-mddle ">
                    <span class=" text-center">ไฮไลต์</span>
            </a>
        </div>

        
        

    </div>
 </div>
   
<!---------------------------------------------------------------------------------------------------->