<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>แก้ไขคณะ</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>

    
    <br><br>
    
    <div class="card">
        <div class="card-header">
            แก้ไขคณะ
        </div>
        <div class="card-body">
            <form action="/faculty/update/<%= facultyID %>" method="post">
                <div class="form-group">
                    <label>ชื่อคณะ:</label>
                    <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
                </div>
                <input type="hidden" name="uniID" value="<%= uniID%>">
                <br>
                <div class="form-group">
                    <a href="/faculty" class="btn btn-info">Back</a>
                    <input type="submit" class="btn btn-info" value="Update">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
</div>