<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>faculty</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('ท่านแน่ใจแล้วใช่ไหม?');}
    </script>
    <% if(data.length) { %>
        <h1>รายการคณะของ<%= data[0].uniName %></h1>
<a href="/faculty/add/<%= uniID %>" class="btn btn-primary">เพิ่มคณะ</a>

<div class="float-end">
    <form action="/faculty/search-fac" method="post">
        <div class="input-group ">
            <input type="hidden" name="uniID" value="<%= data[0].uniID %>">
            <input type="text" name="search" class="form-control border border-dark" placeholder="ค้นหา...">
            <button type="submit" class="btn btn-primary">ค้นหา</button>
        </div>
    </form>
</div>
    <div class="card w-100">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link ml-auto">
                    
                </li>
            </ul>
        </div>
        <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">ชื่อคณะ</th>
                            <th width="200px" class="text-center">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= data[i].facName %></td>
                                <td>
                                    <a href="../faculty/delete/<%= data[i].facultyID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                    <a href="../faculty/edit/<%= data[i].facultyID %>" class="btn btn-warning edit">แก้ไข</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } %>
                <!-- if result is empty-->
            <% if(!data.length) { %>
                <a href="/faculty/add/<%= uniID %>" class="btn btn-primary">เพิ่มคณะ</a>
                <div class="float-end">
                    <form action="/faculty/search-fac" method="post">
                        <div class="input-group ">
                            <input type="hidden" name="uniID" value="<%= uniID %>">
                            <input type="text" name="search" class="form-control border border-dark" placeholder="ค้นหา...">
                            <button type="submit" class="btn btn-primary">ค้นหา</button>
                        </div>
                    </form>
                </div>
                <p class="text-center">ไม่พบรายการคณะ</p>
            <% } %>
        </div>
    </div>

</body>
</html>
</div>
