<%- include("partials/header") %>
    <%- include("partials/sidebar") %>
        <div class="col-10 py-3 mx-auto container-xxl">

            <html lang="en">

            <head>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <title>Dashboard</title>
            </head>

            <body>

                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= messages.error %>
                    </div>
                    <% } %>

                        <% if (messages.success) { %>
                            <div class="alert alert-success" role="alert">
                                <%= messages.success %>
                            </div>
                            <% } %>


                                <h1>รายการของการแข่งขันที่ต้องกำหนดรูปแบบ</h1>
                                <div class="card w-100">
                                    <div class="card-header">
                                    </div>
                                    <div class="card-body">

                                        <div class="jumbotron">
                                            <form action="/change-title" method="post">
                                                <label for="title">ชื่อระบบ:</label>
                                                <h4>
                                                    <%= process.title %>
                                                </h4>
                                                <a href="/dashboard/edit" class="btn-warning btn">แก้ไข</a>
                                            </form>
                                        </div>
                                        <!-- ----------------------------- box-dash ------------------------------ -->
                                        <!-- filter -->
                                        <div>

                                            <div class="text-end  ">
                                                <div class="row row-cols-1 ">
                                                    <div class="col-auto  mx-auto">
                                                        <div class="row my-2 ">
                                                            <!-- <div class="col-auto ">
                                                                <label for="" class="col-form-label">ประเภทกีฬา
                                                                </label>
                                                            </div> -->
                                                            <!-- <div class="col-auto">
                                                                <select class="form-select border-dark text-center"
                                                                    id="" name="sportID">
                                                                    <option selected value="">ทั้งหมด</option>
                                                                    <option value="">วอลเลย์บอล</option>
                                                                    <option value="">ทั้งหมด</option>
                                                                    <option value="">ทั้งหมด</option>
                                                                </select>
                                                            </div> -->
                                                            <div class="col-auto ">
                                                                <label for="" class="col-form-label">ช่วงเวลา
                                                                </label>
                                                            </div>
                                                            <div class="col-auto">
                                                                <form action="/dashboard/dash-value" method="post">
                                                                    <select class="form-select border-dark text-center"
                                                                        id="select-value" name="value">
                                                                        <option value="1">1 เดือน</option>
                                                                        <option value="3">3 เดือน</option>
                                                                        <option value="6">6 เดือน</option>
                                                                        <option selected value="11">1 ปี</option>
                                                                        <!-- <option value="12">1 ปี</option> -->

                                                                    </select>
                                                                    <script>
                                                                        document.getElementById("select-value").onchange = function () {
                                                                            this.form.submit();
                                                                        };


                                                                        const sele1 = JSON.parse('<%-JSON.stringify(value_m) %>');
                                                                        document.getElementById('select-value').value = sele1
                                                                        console.log(sele1);
                                                                    </script>
                                                                </form>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- card zone -->
                                            <!-- ------------------------------- card_1 -------------------------------- -->
                                            <div class="d-flex flex-row justify-content-center">
                                                <div class="card border-dark text-bg-warning my-3 mx-3"
                                                    style="width: 15vw;">
                                                    <div class="card-header bg-transparent  border-dark text-center">
                                                        ยังไม่เริ่มการแข่งขัน
                                                    </div>
                                                    <div class="card-body text-dark text-center bg-white bg-opacity-50">
                                                        <h5 class="card-title " style="font-size:3vw">
                                                            <%=count[0].Out%>
                                                        </h5>

                                                        <p class="card-text text-center"></p>
                                                    </div>
                                                    <!-- <div class="card-footer bg-white border-dark ">
                                                        <a href="http://"
                                                            class="text-decoration-none  text-dark text-center ">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p style="font-size:1vw;" class="mb-0"> ดูรายละเอียด
                                                                    </p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <iconify-icon class="float-end my-auto" width="36"
                                                                        height="36" icon="akar-icons:arrow-left"
                                                                        flip="horizontal"></iconify-icon>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div> -->
                                                </div>

                                                <!-- ------------------------------- card_2 -------------------------------- -->

                                                <div class="card border-dark text-bg-success my-3 mx-3"
                                                    style="width: 15vw;">
                                                    <div class="card-header bg-transparent  border-dark text-center">
                                                        อยู่ระหว่างแข่งขัน
                                                    </div>
                                                    <div class="card-body text-dark text-center bg-white bg-opacity-50">
                                                        <h5 class="card-title " style="font-size:3vw">
                                                            <%=count[0].In%>
                                                        </h5>
                                                        <p class="card-text text-center"></p>
                                                    </div>
                                                    <!-- <div class="card-footer bg-white border-dark ">
                                                        <a href="http://"
                                                            class="text-decoration-none  text-dark text-center ">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p style="font-size:1vw;" class="mb-0"> ดูรายละเอียด
                                                                    </p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <iconify-icon class="float-end my-auto" width="36"
                                                                        height="36" icon="akar-icons:arrow-left"
                                                                        flip="horizontal"></iconify-icon>
                                                                </div>
                                                            </div>
                                                        </a> 
                                                    </div> -->
                                                </div>

                                                <!-- ------------------------------- card_3 -------------------------------- -->
                                                <div class="card border-dark text-bg-info my-3 mx-3"
                                                    style="width: 15vw;">
                                                    <div class="card-header bg-transparent  border-dark text-center">
                                                        การแข่งขันที่เสร็จสิ้น
                                                    </div>
                                                    <div class="card-body text-dark text-center bg-white bg-opacity-50">
                                                        <h5 class="card-title " style="font-size:3vw">
                                                            <%=count[0].fin%>
                                                        </h5>
                                                        <p class="card-text text-center"></p>
                                                    </div>
                                                    <!-- <div class="card-footer bg-white border-dark ">
                                                        <a href="http://"
                                                            class="text-decoration-none  text-dark text-center ">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p style="font-size:1vw;" class="mb-0"> ดูรายละเอียด
                                                                    </p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <iconify-icon class="float-end my-auto" width="36"
                                                                        height="36" icon="akar-icons:arrow-left"
                                                                        flip="horizontal"></iconify-icon>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>

                                        <!-- card zone -->


                                        <!-- ----------------------------- charts zone ----------------------------- -->

                                        <div class="row row-cols-1 ">
                                            <div class="col-6 card ">

                                                <div>
                                                    <canvas id="myChart" width="500px"></canvas>
                                                </div>

                                                <%= %>


                                                    <script>
                                                        const display_month = JSON.parse('<%-JSON.stringify(display_month) %>');
                                                        console.log(display_month);


                                                        const label_x = display_month.map((item) => { return item.month })
                                                        const label_y = display_month.map((item) => { return item.result_cout })
                                                        let maxValue = Math.max(...label_y);


                                                        const ctx = document.getElementById('myChart');

                                                        new Chart(ctx, {
                                                            type: 'bar',
                                                            data: {
                                                                labels: label_x
                                                                , datasets: [{
                                                                    label: 'จำนวนการแข่งขัน',
                                                                    data: label_y
                                                                    ,
                                                                    borderWidth: 3
                                                                }]
                                                            },
                                                            options: {
                                                                scales: {
                                                                    y: {
                                                                        beginAtZero: true,
                                                                        min: 0,
                                                                        max: maxValue+1
                                                                    }
                                                                }
                                                            }
                                                        });
                                                    </script>


                                            </div>

                                            <!-- ------------------------------- chart_2 ------------------------------- -->
                                            <div class="col-6  card">

                                                <div>
                                                    <canvas id="myChart1" style=" width: 100px;"></canvas>
                                                </div>

                                                <script>
                                                    const sport_count = JSON.parse('<%-JSON.stringify(sport_count) %>');
                                                    const sport_y = sport_count.map((item) => { return item.count })
                                                    let maxValuesport = Math.max(...sport_y);

                                                    //    const label_1 = [sport_y[0].count+sport_y[1].count ]
                                                    console.log("🚀 ~ file: dashboard.ejs:258 ~ sport_y", sport_y)



                                                    const ctx1 = document.getElementById('myChart1');


                                                    myChart1 = new Chart(ctx1, {
                                                        type: 'bar',
                                                        data: {
                                                            labels: ['แบดมินตัน เดี่ยว', 'แบดมินตัน คู่', 'วอลเลย์บอล', 'บาสเกตบอล', 'เปตอง'],
                                                            datasets: [{

                                                                label: 'จำนวนที่แข่งขัน',
                                                                data: sport_y
                                                                , borderWidth: 2
                                                            }]
                                                        },
                                                        options: {
                                                            indexAxis: 'y',
                                                            scales: {
                                                                y: {
                                                                    beginAtZero: true,
                                                                    
                                                                }
                                                                , x: {
                                                                    display: false

                                                                }
                                                            }, tooltips: {
                                                                enabled: false
                                                            },
                                                            plugins: {
                                                                datalabels: {
                                                                    align: 'end',
                                                                    anchor: 'end',
                                                                    backgroundColor: function (context) {
                                                                        return context.dataset.backgroundColor;
                                                                    },
                                                                    borderRadius: 4,
                                                                    color: 'white',
                                                                    formatter: Math.round
                                                                }
                                                            }
                                                        }
                                                    });

                                                </script>



                                            </div>
                                        </div>
                                       








                                    </div>
                                </div>





            </body>

            </html>
        </div>