<%- include("partials/header") %>
    <%- include("partials/sidebar") %>
        <div class="col-10 py-3 mx-auto container-xxl ">

            <html lang="en">

            <head>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

                <title>Dashboard</title>
            </head>
         
            <body>

                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= messages.error %>
                    </div>
                    <% } %>

                        <% if (messages.success) { %>
                            <div class="alert alert-success" role="alert">
                                <%= messages.success %>
                            </div>
                            <% } %>

                                <div class="card w-100 ">
                                    <div class="card-header">
                                        <br>
                                    </div>
                                    <div class="card-body">
                                        
                                        <!-- ----------------------------- box-dash ------------------------------ -->
                                        <!-- filter -->
                                        <div>
                                            <div class="text-end  my-2  ">
                                                <div class="row row-cols-1  ">
                                                    <div class="col-auto  mx-auto text-center">
                                                        <div class="row   px-3 bg-body rounded pt-2 ">
                                                            <form action="/dashboard/value_date" id="myForm"
                                                                method="post">
                                                                <div class="row ">
                                                                    <div class="col text-end">
                                                                        <label for="validationSport"
                                                                            class="col-form-label ">กีฬา</label>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <select for="value_sport"
                                                                            class="form-select border-dark "
                                                                            id="value_sport" name="value_sport">
                                                                            <option selected value="">ทั้งหมด</option>
                                                                            <% for(let i=0; i <selcetsport.length;i++){%>
                                                                                <option class="text-start"
                                                                                    value="<%= selcetsport[i].sportID %>">
                                                                                    <%= selcetsport[i].sportName %>
                                                                                </option>
                                                                                <% } %>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col text-end">
                                                                        <label for="value_startdate"
                                                                            class="col-form-label">วันที่</label>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <input type="date"
                                                                            class="form-control border-dark"
                                                                            name="value_startdate" id="value_startdate">
                                                                    </div>
                                                                    <div class="col-auto text-end">
                                                                        <label for="value_enddate"
                                                                            class="col-form-label text-end">ถึง</label>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <input type="date"
                                                                            class="form-control border-dark"
                                                                            name="value_enddate" id="value_enddate">
                                                                    </div>
                                                                    <!-- <div class="col text-end">
                                                                        <label for="value_startdate"
                                                                            class="col-form-label"></label>
                                                                    </div> -->
                                                                </div>
                                                            </form>
                                                            <!-- <div class="col-12 mx-auto text-center">
                                                                <label for="value_startdate "
                                                                    class="col-form-label ">หมายเหตุ ( ช่วงเวลาไม่เกิน
                                                                    1 ปี )</label>
                                                            </div> -->

                                                        </div>
                                                        <script>

                                                            //<!-- ----------------------------------------------------------------------- -->
                                                            // Get today's date
                                                            const today = new Date();
                                                            // Calculate the date 12 months ago
                                                            const twelveMonthsAgo = new Date(today.getFullYear(), today.getMonth() - 12, today.getDate());
                                                            // Set the maximum and minimum values for value_startdate
                                                            const valueStartdate = document.getElementById('value_startdate');
                                                            valueStartdate.max = today.toISOString().slice(0, 10);
                                                            // valueStartdate.min = twelveMonthsAgo.toISOString().slice(0, 10);         

                                                          
                                                            const valueEnddate = document.getElementById('value_enddate');
                                                            


                                                            // Set the  minimum values for value_enddate
                                                            valueStartdate.addEventListener('input', function () {
                                                                valueEnddate.min = valueStartdate.value;
                                                                valueEnddate.value = "";

                                                                // // Set the maximum  values for value_enddate
                                                                valueEnddate.max = today.toISOString().slice(0, 10);
                                                            

                                                                // Set maximum date to one year from value_startdate
                                                                const oneYearLater = new Date(valueStartdate.value);
                                                                oneYearLater.setFullYear(oneYearLater.getFullYear() + 1);
                                                                valueEnddate.max = oneYearLater.toISOString().slice(0, 10);

                                                                
                                                            });

                                                            // <!-- ----------------------------------------------------------------------- -->
                                                        </script>
                                                        <script>

                                                            var valueStartDateInput = document.getElementById('value_startdate');
                                                            var valueEndDateInput = document.getElementById('value_enddate');
                                                            var valuesportInput = document.getElementById('value_sport');

                                                            valueStartDateInput.addEventListener('change', function () {
                                                                if (valueStartDateInput.value && valueEndDateInput.value) {
                                                                    document.getElementById('myForm').submit();
                                                                }
                                                            });

                                                            valueEndDateInput.addEventListener('change', function () {
                                                                if (valueStartDateInput.value && valueEndDateInput.value) {
                                                                    document.getElementById('myForm').submit();
                                                                }
                                                            });

                                                            valuesportInput.addEventListener('change', function () {
                                                                document.getElementById('myForm').submit();
                                                            });

                                                            // set value after reset
                                                            const value_select = JSON.parse('<%-JSON.stringify(value_select) %>');
                                                            if (value_select && value_select.length > 0) {
                                                                if (value_select[0]?.sport) {
                                                                    document.getElementById('value_sport').value = value_select[0].sport
                                                                }
                                                                document.getElementById('value_startdate').value = value_select[0].date_S
                                                                document.getElementById('value_enddate').value = value_select[0].date_E
                                                               
                                                            }
                                                        </script>

                                                        <!-- ----------------------------------------------------------------------- -->
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- card zone -->
                                            <!-- ------------------------------- card_1 -------------------------------- -->
                                            <div class="d-flex flex-row justify-content-center">
                                                <div class="card border-dark text-bg-warning my-3 mx-3"
                                                    style="width: 15vw;">
                                                    <div class="card-header bg-transparent  border-dark text-center">
                                                        ยังไม่เริ่มการแข่งขัน
                                                    </div>
                                                    <div class="card-body text-dark text-center bg-white bg-opacity-50">
                                                        <h5 class="card-title " style="font-size:3vw">
                                                            <%=count[0].Out%>
                                                        </h5>

                                                        <p class="card-text text-center"></p>
                                                    </div>

                                                </div>
                                                <!-- ------------------------------- card_2 -------------------------------- -->
                                                <div class="card border-dark text-bg-success my-3 mx-3"
                                                    style="width: 15vw;">
                                                    <div class="card-header bg-transparent  border-dark text-center">
                                                        อยู่ระหว่างแข่งขัน
                                                    </div>
                                                    <div class="card-body text-dark text-center bg-white bg-opacity-50">
                                                        <h5 class="card-title " style="font-size:3vw">
                                                            <%=count[0].In%>
                                                        </h5>
                                                        <p class="card-text text-center"></p>
                                                    </div>

                                                </div>
                                                <!-- ------------------------------- card_3 -------------------------------- -->
                                                <div class="card border-dark text-bg-info my-3 mx-3"
                                                    style="width: 15vw;">
                                                    <div class="card-header bg-transparent  border-dark text-center">
                                                        การแข่งขันที่เสร็จสิ้น
                                                    </div>
                                                    <div class="card-body text-dark text-center bg-white bg-opacity-50">
                                                        <h5 class="card-title " style="font-size:3vw">
                                                            <%=count[0].fin%>
                                                        </h5>
                                                        <p class="card-text text-center"></p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- card zone -->
                                        <!-- ----------------------------- charts zone ----------------------------- -->

                                        <div class="d-flex justify-content-center">
                                            <div class="card p-3 border-dark me-5">

                                                <div>
                                                    <canvas id="myChart" style="height:500; width:800px"></canvas>
                                                </div>

                                                <script>
                                                    const display_month = JSON.parse('<%-JSON.stringify(display_month) %>');
                                                    const display_month_do = JSON.parse('<%-JSON.stringify(display_month_do) %>');
                                                    const display_month_wait = JSON.parse('<%-JSON.stringify(display_month_wait) %>');
                                                
                                                    const label_fs = display_month.map((item) => { return item.value })
                                                    let maxValue = Math.max(...label_fs);
                                                    const label_do = display_month_do.map((item) => { return item.value })
                                                    let maxValuedo = Math.max(...label_do);
                                                    const label_wait = display_month_wait.map((item) => { return item.value })
                                                    let maxValuewait = Math.max(...label_wait);

                                                    const totalmaxvalue =maxValue+maxValuedo+maxValuewait+2;
                                                    

                                                    

                                                    const ctx = document.getElementById('myChart');

                                                    new Chart(ctx, {
                                                        type: 'bar',
                                                        data: {
                                                            labels: [
                                                                "Jan",
                                                                "Feb",
                                                                "Mar",
                                                                "Apr",
                                                                "May",
                                                                "Jun",
                                                                "Jul",
                                                                "Aug",
                                                                "Sep",
                                                                "Oct",
                                                                "Nov",
                                                                "Dec",
                                                            ]
                                                            , datasets: [{
                                                                label: 'ยังไม่เริ่มการแข่งขัน',
                                                                data: label_wait,
                                                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                                                borderColor: 'rgba(255, 220, 20, 1)',
                                                                borderWidth: 1,
                                                                stack: 'Stack 1'
                                                              
                                                            }, {
                                                                label: 'อยู่ระหว่างแข่งขัน',
                                                                data: label_do ,
                                                                backgroundColor: 'rgba(1, 206, 86, 0.2)',
                                                                borderColor: 'rgba(1, 190, 86, 1)',
                                                                borderWidth: 1,
                                                                stack: 'Stack 1'
                                                            }, {
                                                                label: 'การแข่งขันที่เสร็จสิ้น',
                                                                data: label_fs,
                                                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                                                borderColor: 'rgba(54, 162, 235, 1)',
                                                                borderWidth: 1,
                                                                stack: 'Stack 1'
                                                            }
                                                        ]
                                                        },
                                                        options: {
                                                            responsive: true,
                                                            maintainAspectRatio: false,
                                                            scales: {
                                                                y: {
                                                                    max: totalmaxvalue,
                                                                    stacked: true ,
                                                                    ticks: {
                                                                        
                                                                        color: 'dark'
                                                                    },

                                                                    beginAtZero: true,
                                                                    min: 0,
                                                                    ticks: {
                                                                        precision: 0,
                                                                    }
                                                                },
                                                                x: {
                                                                    stacked: true ,
                                                                    ticks: {
                                                                        color: 'dark'
                                                                    },
                                                                    grid: {
                                                                        display: false
                                                                    }
                                                                    ,
                                                                }
                                                            }
                                                            , plugins: {
                                                                title: {
                                                                            display: true,
                                                                            text: 'การแข่งขันในแต่ละเดือน',
                                                                            font: {
                                                                        family: "Kodchasan-Regular",
                                                                        size: 16,
                                                                        }
                                                                        ,color: 'dark'
                                                                        },

                                                                legend: {
                                                                    labels: { 
                                                                        display:false,
                                                                    font: {
                                                                        family: "Kodchasan-Regular",
                                                                        size: 12,
                                                                        }
                                                                        ,color: 'dark'
                                                                    }
                                                                },
                                                                datalabels: {
                                                                    display: true,
                                                                    color: 'black',
                                                                    font: {
                                                                        
                                                                        size: 12,
                                                                        weight: 'bold'
                                                                    },
                                                                    align: 'center',
                                                                    anchor: 'center',
                                                                    color: 'dark',
                                                                    formatter: function (value, context) {
                                                                        if (value > 0) {
                                                                                return value;
                                                                            } else {
                                                                                return '';
                                                                            }
                                                                    }
                                                                }
                                                            },
                                                            barThickness: 30,
                                                            barSpacing: 2
                                                        }, barThickness: 30,
                                                        barSpacing: 2
                                                        ,
                                                        plugins: [
                                                            ChartDataLabels
                                                        ]
                                                    });

                                               
                                                </script>


                                            </div>

                                            <!-- ------------------------------- chart_2 ------------------------------- -->
                                            <div class="card p-3 border-dark">

                                                <div>
                                                    <canvas id="myChart1" style="height:500px; width:600px"></canvas>
                                                </div>

                                                <script>


                                                    const sport_count = JSON.parse('<%-JSON.stringify(sport_count) %>');
                                                    const sport_count_do = JSON.parse('<%-JSON.stringify(sport_count_do) %>');
                                                    const sport_count_wait = JSON.parse('<%-JSON.stringify(sport_count_wait) %>');

                                                    //name
                                                    const sport_x = sport_count.map((item) => { return item.sportName })
                                                    //value
                                                    const sport_fs = sport_count.map((item) => { return item.count_sportID })
                                                    
                                                    const sport_do = sport_count_do.map((item) => { return item.count_sportID })
                                                    const sport_wait = sport_count_wait.map((item) => { return item.count_sportID })
                                                    let maxValue_fs
                                                    let maxValue_do
                                                    let maxValue_wait
                                                
                                                         maxValue_fs= Math.max(...sport_fs)
                                                   
                                                        maxValue_fs=0;
                                                    
                                                   
                                                        maxValue_do= Math.max(...sport_do)
                                                  
                                                
                                                        maxValue_wait= Math.max(...sport_wait);
                                                        
                                                        if (maxValue_fs === -Infinity&& maxValue_fs<0 ) maxValue_fs = 0;
                                                        if (maxValue_do === -Infinity&& maxValue_do<0) maxValue_do = 0;
                                                        if (maxValue_wait === -Infinity&& maxValue_wait<0) maxValue_wait = 0;
                                                    const  maxValuesport = maxValue_fs+maxValue_do+maxValue_wait+2
                                                    



                                                    const ctx1 = document.getElementById('myChart1');
                                                    // Chart.defaults.font.family ="Kodchasan-Regular"

                                                    myChart1 = new Chart(ctx1, {
                                                        type: 'bar',
                                                        data: {
                                                            labels: sport_x,
                                                            datasets: [{
                                                                label: 'ยังไม่เริ่มการแข่งขัน',
                                                                data: sport_wait,
                                                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                                                borderColor: 'rgba(255, 220, 20, 1)',
                                                                borderWidth: 1,
                                                                stack: 'Stack 1'
                                                              
                                                            }, {
                                                                label: 'อยู่ระหว่างแข่งขัน',
                                                                data: sport_do ,
                                                                backgroundColor: 'rgba(1, 206, 86, 0.2)',
                                                                borderColor: 'rgba(1, 190, 86, 1)',
                                                                borderWidth: 1,
                                                                stack: 'Stack 1'
                                                            }, {
                                                                label: 'การแข่งขันที่เสร็จสิ้น',
                                                                data: sport_fs,
                                                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                                                borderColor: 'rgba(54, 162, 235, 1)',
                                                                borderWidth: 1,
                                                                stack: 'Stack 1'
                                                            }]
                                                        },
                                                        options: {
                                                            responsive: true,
                                                            maintainAspectRatio: false,
                                                            indexAxis: 'y',
                                                            scales: {
                                                                   
                                                            

                                                                y: {
                                                                    stacked: true ,
                                                                    ticks: {
                                                                        font: {
                                                                                // family: 'Kodchasan-Regular', 
                                                                                size: 14,
                                                                            },
                                                                        color: 'dark'
                                                                    }, grid: {
                                                                        display: false
                                                                    },
                                                                    beginAtZero: true,
                                                                    
                                                                }, x: {
                                                                    stacked: true ,
                                                                    ticks: {
                                                                        color: 'dark'
                                                                    }, grid: {
                                                                        display: false
                                                                    },
                                                                    display: false,
                                                                    beginAtZero: true,
                                                                    min: 0,
                                                                    max:maxValuesport,
                                                                }
                                                            }, plugins: {
                                                                title: {
                                                                            display: true,
                                                                            text: 'ประเภทกีฬา',
                                                                            font: {
                                                                        family: "Kodchasan-Regular",
                                                                        size: 16,
                                                                        }
                                                                        ,color: 'dark'
                                                                        },
                                                                legend: {
                                                                    labels: { 
                                                                    font: {
                                                                        family: "Kodchasan-Regular",
                                                                        size: 12,
                                                                        }
                                                                        ,color: 'dark'
                                                                }
                                                                },
                                                                datalabels: {
                                                                    display: true,
                                                                    color: 'dark',
                                                                    font: {
                                                                        size: 12,
                                                                        weight: 'bold'
                                                                    },
                                                                    align: 'center',
                                                                    anchor: 'center',
                                                                    color: 'dark',
                                                                    formatter: function (value, context) {
                                                                        if (value > 0) {
                                                                                return value;
                                                                            } else {
                                                                                return '';
                                                                            }
                                                                    }
                                                                }
                                                            },
                                                            barThickness: 30,
                                                            barSpacing: 2
                                                        }, barThickness: 30,
                                                        barSpacing: 2,
                                                        //  layout: {
                                                         
                                                        // },
                                                        plugins: [
                                                            ChartDataLabels
                                                        ]
                                                    });

                                                </script>

                                            </div>
                                        </div>

                                    </div>
                                </div>





            </body>

            </html>
        </div>