<%- include("../../../partials/header") %>
    <div class="container-xxl mt-5 px-3">
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <title>แมทซ์การแข่งขัน</title>
        </head>

        <body>

            <div class=" d-flex flex-column text-center h-auto mb-5 border   border-dark rounded-3 "
                style="background:#D9D9D9 ;">
                <%- include("../../../partials/menuuser.ejs") %>
                    <!-- <div class="d-block" style="height: 1000px;"></div> -->
                    <div class="card-body">
                      <% if(data && data[0]) { %>
                        <% if(data[0].pDate && data[0].time && data[0].placeName){ %>
                        <h4>แข่งวันที่ <%=data[0].pDate.toLocaleDateString('th-TH',{day: '2-digit' ,month: 'long' , year:'numeric'}) %> เวลา <%= data[0].time%> สถานที่ <%= data[0].placeName %></h4>
                        <% }else{ %>
                            <h4>แข่งวันที่  เวลา  สถานที่ </h4>
                            <% } %>
                          <table class="table w-75 mx-auto mt-5  text-center  table-hover table-striped">
                              <thead style="background-color: rgb(96, 166, 253); ">
                                  <tr>
                                      <th width="100px">ลำดับที่</th>
                                      <th scope="col">ชื่อผู้เล่น</th>
                                      <th width="200px">คะแนน</th>
                                  </tr>
                              </thead>
                              <tbody class="table-group-divider bg-white ">
                                  <% for(let i = 0; i < data.length; i++) { %>
                                      <tr>
                                          <th scope="row"><%= i+1 %></th>
                                          <td><%= data[i].playerFName %></td>
                                          <td><%= data[i].score %></td>
                                      </tr>
                                  <% } %>
                              </tbody>
                          </table>
                      <% } %>
          
                      <!-- if result is empty-->
                      <% if(!data || !data[0]) { %>
                          <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
                      <% } %>
                  </div>
        </body>

        </html>
    </div>