<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
           <div class="col py-3 mx-auto container-xxl ">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ทีมที่สมัครการแข่งขัน</title>
</head>
<body>

    <div class="container text-center">
    <h1 style="margin-top: 20;">แก้ไขข้อมูล</h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <form action="/editemailteam/<%= data[0].teamID %>" method="post">
        <div class="form-grou">
            <!--  -->
            <div class="row row-cols-2">
                <div class="col-6">
                    <div class="row mt-2">
                        <div class="col-5 text-start">
                            <label for="validationnameT" class="col-form-label">ชื่อทีม</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control border-dark" id="validationnameT"
                                value="<%= data[0].teamName %>" name="teamName" autocomplete="off" >
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5 text-start">
                            <label for="validation" class="col-form-label">ชื่อ(ตัวแทน)</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control border-dark" id="validation" value="<%= data[0].NameAgent %>"
                                name="NameAgent" autocomplete="off" >
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5 text-start">
                            <label for="validation" class="col-form-label">นามสกุล(ตัวแทน)</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control border-dark" id="validation" value="<%= data[0].LnameAgent %>"
                                name="LnameAgent" autocomplete="off" >
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5 text-start">
                            <label for="validationTel" class="col-form-label">เบอร์โทรติดต่อ</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control border-dark" id="validationTel" value="<%= data[0].teamPhoneA %>"
                                name="teamPhoneA" autocomplete="off" pattern="[0-9]{10}" minlength="10"
                                maxlength="10" >
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5 text-start">
                            <label for="validationEmail" class="col-form-label">อีเมล</label>
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control border-dark" id="validationEmail"
                                value="<%= data[0].teamEmailA %>" name="teamEmailA" autocomplete="off" >
                        </div>
                    </div>
                </div>
                <!-- รูปภาพ ทีม -->
                <script>
                    function preview() {
                        imgpreview.src = URL.createObjectURL(event.target.files[0]);
                        imgpreview.style.display = "block";

                    }
                </script>
                <!-- <div class="col-1"> -->
                    <!-- ช่องว่างเว้น -->
                <!-- </div> -->

                <div class="col-4 my-auto">
                    <img src="/team/<%=data[0].teamPic %>" id="imgpreview" class=" w-75 rounded mx-auto mb-2 " alt=""
                                style="height: 10rem; ">
                            
                </div>


            </div>


            <br>
            <hr style="height:2px;border-width:0;color:black;background-color:black">
            <br>
            <% for(let i=0; i < data.length; i++) { %>
                <div>
                    
                <p>ผู้เล่นคนที่ <%= i+1 %> </p> <p style="color: red;"><%= data[i].detailDoc %></p>
            </div>
                <div class="row">
                    <!-- row -->
                    <div class="row mt-2 row-cols-4">
                        <div class="col-2 text-start">
                            <label for="validationnameT" class="col-form-label">ชื่อ</label>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control border-dark" id="validationnameT"
                                value="<%= data[i].playerFName %>" name="playerFName" autocomplete="off" >
                        </div>
                        <div class="col-2 text-end">
                            <label for="validationnameT" class="col-form-label">นามสกุล</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control border-dark" id="validationnameT"
                                value="<%= data[i].playerLName %>" name="playerLName" autocomplete="off" >
                        </div>
                    </div>



                    <!-- row -->
                    <div class="row mt-2 row-cols-4">
                        <div class="col-2 text-start">
                            <label for="validation" class="col-form-label">เพศ</label>
                        </div>
                        <div class="col-3">

                            <select name="playerGender" class="form-select border-dark w-auto" >
                                <% if (!data[i].playerGender) { %>
                                    <option selected value="<%= playerGender='ชาย'  %>">ชาย</option>
                                    <option value="<%= playerGender='หญิง'  %>">หญิง</option>
                                <% } else if (data[i].playerGender === 'ชาย') { %>
                                    <option selected value="<%= playerGender='ชาย'  %>">ชาย</option>
                                    <option value="<%= playerGender='หญิง'  %>">หญิง</option>
                                <% } else { %>
                                    <option selected value="<%= playerGender='หญิง'  %>">หญิง</option>
                                    <option value="<%= playerGender='ชาย'  %>">ชาย</option>
                                <% } %>
                            </select>

                        </div>
                        <div class="col-2 text-end">
                            <label for="validation" class="col-form-label">วัน/เดือน/ปีเกิด</label>
                        </div>
                        <div class="col-auto">
                            <div class="col-auto">
                                <input type="date" class="form-control border-dark" id="validation" value="<%= data[i].playerBirthday.toLocaleDateString('en-CA',{day: '2-digit', month: '2-digit', year:'numeric'}) %>"
                                    name="playerBirthday" autocomplete="off" required>
                            </div>



                           
                        </div>
                    </div>


                    <!-- row -->
                    <div class="row mt-2 row-cols-4">
                        <div class="col-2 text-start">
                            <label for="validation" class="col-form-label">เบอร์โทรติดต่อ</label>
                        </div>
                        <div class="row-cols-3">
                            <input type="text" class="form-control border-dark" id="validation" value="<%= data[i].playerPhone %>"
                                name="playerPhone" pattern="[0-9]{10}" minlength="10" maxlength="10"
                                autocomplete="off" >
                        </div>
                        <div class="col-2 text-end">
                            <label for="validation" class="col-form-label">อีเมล</label>
                        </div>
                        <div class="col-auto">
                            <input type="email" style="width: 350px;" class="form-control border-dark" id="validation" value="<%= data[i].playerEmail %>"
                                name="playerEmail" autocomplete="off" >
                        </div>
                    </div>

                    <!-- row -->
                    <div class="row mt-2 row-cols-4">
                        <div class="col-2 text-start">
                            <label for="validation" class="col-form-label">มหาวิทยาลัย</label>
                        </div>
                        <div class="row-cols-1">
                            <input type="text" style="width: 350px;" class="form-control border-dark px-3" name="university" id="university" value="<%= data[i].uniName %>" disabled>

                        </div>
                        <div class="col-2 text-end">
                            <label for="validation" class="col-form-label">คณะ</label>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control border-dark" name="facultyID" id="faculty_<%= i %>" value="<%= data[i].facName %>" disabled>
                           
                        </div>

                </div>

                    <!-- row -->
                    <div class="row mt-2 row-cols-4">
                        <div class="col-2 text-start">
                            <label for="validation" class="col-form-label text-break">เลขประจำตัว
                                ประชาชน </label>
                        </div>
                        <div class="row-cols-3">
                            <input type="text" class="form-control border-dark  my-auto" id="validation"
                                value="<%= data[i].playerIDCard %>" name="playerIDCard" >
                        </div>
                    </div>
                    <!-- <div class="row my-2   row-cols-2">
                        <div class="col-2 text-start">
                            <label for="validationCard" class="col-form-label">หมายเหตุ</label>
                        </div>
                        <div class="col-3"> -->
                            <input  type="hidden" class="form-control border-dark" id="validationLname" value="<%= data[i].detailDoc %>"
                            name="detailDoc" autocomplete="off" >
                        <!-- </div>
                    </div> -->


                    <!-- row -->
                    <div class="row row-cols-1 mb-3">
                        <div class="row my-2   row-cols-2 ">
                            <div class="col-3 text-start ">
                                <label for="validationFile" class="col-form-label">เอกสารยืนยันตัวตน</label>
                            </div>
                            <div class="col-auto">
                                <% const file = data[0].playerFile1.split(','); %>
                                <% for(let j=0;j<file.length;j++){ %>
                                <a href="../doc/<%= file[j] %>" download="<%= file[j] %>">ไฟล์ <%=i+1%></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                   






                    
                    <br>
                    <hr style="height:2px;border-width:0;color:black;background-color:black">
                    <br>
                    <input type="hidden" name="playerID" value="<%= data[i].playerID%>">
                </div>
                <% } %>
                <input type="hidden" name="teamID" value="<%= data[0].teamID%>">
                <input type="hidden" name="tnmID" value="<%= data[0].tnmID%>">
        </div>

        
        <div class="form-group" style="margin-top: 10px;">
            <a href="javascript:history.back()" class="btn btn-primary">ย้อนกลับ</a>
            <button value="submit" class="btn btn-success">บันทึก</button>

        </div>

    </form>
</div>
            
</body>
</html>
</div>
