
        <div class="col py-3 mx-auto">

            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>sport</title>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<style>
        @font-face {
      font-family: "Kodchasan-Regular";
  src: url('/font/Kodchasan-Regular.ttf') format('truetype');
    }

    body {
      font-family: "Kodchasan-Regular", sans-serif !important;
    }
	@media print {
		.table td, .table th {
			padding: 4px !important;
			font-size: 8px;
		}
		h1 {
			font-size: 18px;
		}
	}
  .center {
  margin-left: auto;
  margin-right: auto;
}
	</style>
            </head>

            <body>
                
                <div class="container mt-7">
                    <h1 class="text-center mb-4">ใบลงคะแนนกีฬาแบดมินตัน</h1>

                    <table class="table">
                      <tr>
                          <td>ชื่อการแข่งขัน</td>
                          <td>สนาม</td>
                          <td>วันที่แข่งขัน</td>
                      </tr>
                  </table>

                  <table class="table">
                    <tr>
                        <td>ชื่อกรรมการ</td>
                        <td>เริ่ม</td>
                        <td>สิ้นสุด</td>
                        <td>จำนวนเวลาที่ใช้แข่ง</td>
                        <td>จำนวนลูกที่ใช้</td>
                    </tr>
                </table>

                  <div>
                  <table class="table-bordered center" style="width:30%">
                    <tr>
                      <td class="text-center">A1</td>
                      <td class="text-center" width="120px">คะแนน</td>
                      <td class="text-center">A2</td>
                  </tr>
                    <tr>
                        <th height="35px"></th>
                        <th class="text-center">:</th>
                        <td style="background-color: rgb(208, 208, 208);"></td>
                    </tr>
                    <tr>
                      <td height="35px"></td>
                      <td class="text-center">:</td>
                        <td style="background-color: rgb(208, 208, 208);"></td>
                  </tr>
                  <tr >
                    <td  height="35px"></td>
                    <td class="text-center">:</td>
                        <td style="background-color: rgb(208, 208, 208);"></td>
                </tr>
                </table>
                
                    <table class="table table-bordered">
                      <thead >
                        <tr class="border-dark">
                          <td></td>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px" class="text-center"><%= i+1 %></th>
                            <% } %>
                            <th class="text-center" width="200px">รวม</th>
                        </tr>
                        <tr class="border-dark">
                          <th width="1000px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark">
                          <th width="300px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                      </thead>
                    </table>

                    <table class="table table-bordered">
                      <thead >
                        <tr class="border-dark">
                          <td></td>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px" class="text-center"><%= i+1 %></th>
                            <% } %>
                            <th class="text-center" width="200px">รวม</th>
                        </tr>
                        <tr class="border-dark">
                          <th width="1000px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark">
                          <th width="300px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                      </thead>
                    </table>

                    <table class="table table-bordered">
                      <thead >
                        <tr class="border-dark">
                          <td></td>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px" class="text-center"><%= i+1 %></th>
                            <% } %>
                            <th class="text-center" width="200px">รวม</th>
                        </tr>
                        <tr class="border-dark">
                          <th width="1000px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark">
                          <th width="300px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                      </thead>
                    </table>

                    <table class="table table-bordered">
                      <thead >
                        <tr class="border-dark">
                          <td></td>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px" class="text-center"><%= i+1 %></th>
                            <% } %>
                            <th class="text-center" width="200px">รวม</th>
                        </tr>
                        <tr class="border-dark">
                          <th width="1000px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark">
                          <th width="300px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                      </thead>
                    </table>

                    <table class="table table-bordered">
                      <thead class="thead-dark">
                        <tr class="border-dark">
                          <td></td>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px" class="text-center"><%= i+1 %></th>
                            <% } %>
                            <th class="text-center" width="200px">รวม</th>
                        </tr>
                        <tr class="border-dark">
                          <th width="1000px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark">
                          <th width="300px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                      </thead>
                    </table>

                    <table class="table table-bordered">
                      <thead class="thead-dark">
                        <tr class="border-dark">
                          <td></td>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px" class="text-center"><%= i+1 %></th>
                            <% } %>
                            <th class="text-center" width="200px">รวม</th>
                        </tr>
                        <tr class="border-dark">
                          <th width="1000px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark">
                          <th width="300px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                        <tr class="border-dark" style="background-color: rgb(208, 208, 208);">
                          <th width="150px" height="30px"></th>
                          <% for(var i=0;i<30;i++){ %>
                            <th width="50px"></th>
                            <% } %>
                            <th class="text-center" width="200px"></th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="bs-example">
                    <div class=" d-flex justify-content-between">
                        <div>กรรมการ..........................................................................</div>
                        <div>ผู้ชี้ขาด..........................................................................</div>
                    </div>
                </div>

            </body>

            </html>
        </div>