<%- include("../../../partials/header") %>
<%- include("../../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<body>
    <h1><%= tournamentName %></h1>

        <%- include("../../../partials/menu_staff.ejs") %>

        <h1>รอบที่ 1</h1>
        <div>
            <%= data[0].team1 %> <%= data[0].score1%><br>
            <%= data[0].team2 %> <%= data[0].score2%>
        </div>
<br>
    <div><%= data[1].team1 %> <%= data[1].score1%> <br>
         <%= data[1].team2 %> <%= data[1].score2%>
    </div>
    <br>
    <div><%= data[2].team1 %> <%= data[2].score1%> <br>
         <%= data[2].team2 %> <%= data[2].score2%>
    </div>

    <br>
    <div><%= data[3].team1 %> <%= data[3].score1%> <br>
         <%= data[3].team2 %> <%= data[3].score2%>
    </div>

    <br>
    <h1>รอบที่ 2</h1>
    <div><%= data[4].team1 %> <%= data[4].score1%> <br>
         <%= data[4].team2 %> <%= data[4].score2%>
    </div>

    <br>
    <div><%= data[5].team1 %> <%= data[5].score1%> <br>
         <%= data[5].team2 %> <%= data[5].score2%>
    </div>

    <br>
    <h1>รอบที่ 3</h1>
    <div><%= data[6].team1 %> <%= data[6].score1%> <br>
         <%= data[6].team2 %> <%= data[6].score2%>
    </div>

    <br>
    <h1>ผู้ชนะ</h1>
    <div><%= data[7].team1 %>
    </div>
          
</body>
</html>
</div>