<%- include("../partials/header") %>
    <%- include("../partials/sidebar") %>
           <div class="col py-3 mx-auto container-xxl ">

            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>sport</title>
            </head>

            <body>

                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= messages.error %>
                    </div>
                    <% } %>

                        <br><br>

                        <div class="card">
                            <div class="card-header display-6">
                                เพิ่มกีฬา
                            </div>
                            <div class="card-body">
                                <form action="/sport/add" method="post" class="needs-validation">
                                    <div class="form-group">
                                        <div class="row row-cols-1">
                                            <div class="row g-2">
                                                <div class="col-5">
                                                    <label class="form-label">ชื่อกีฬา</label>
                                                    <input type="text" class="form-control border border-dark"
                                                        name="sportName" value="<%= sportName %>" autocomplete="off"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="col-auto">
                                                    <label class="form-label">ประเภท</label>
                                                    <select name="type" class="form-select border border-dark"
                                                        autocomplete="off" required>
                                                        <option selected disabled value="">เลือกประเภท</option>
                                                        <option value="<%= type='คู่' %>">คู่</option>
                                                        <option value="<%= type='ทีม' %>">ทีม</option>
                                                    </select>
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-label">จำนวนผู้เล่น</label>
                                                    <input type="text" class="form-control border border-dark"
                                                        name="sportPlaynum" value="<%= sportPlaynum %>"
                                                        autocomplete="off" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row row-cols-2 mt-5 text-center d-flex justify-content-center">
                                        <div class="col-2">
                                            <a href="javascript:history.back()" class="btn btn-danger">ยกเลิก</a>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-success" type="submit">ยืนยัน</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

            </body>

            </html>
        </div>