<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
    <div class="col-10 py-3 mx-auto">

        <!DOCTYPE html>
        <html lang="en">

        <head>
           
            <title>place</title>
        </head>

        <body>

            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= messages.error %>
                </div>
                <% } %>


                    <br><br>

                    <div class="card">
                        <div class="card-header display-6 mb-0">
                            เพิ่มสถานที่
                        </div>
                        <div class="card-body">


                            <form action="/place/add" method="post" encType="multipart/form-data" class="form needs-validation">

                                <!--  -->
                                <div class="row my-2  p row-cols-2">
                                    <div class="col-2 ">
                                        <label class="col-form-label">ชื่อสถานที่</label>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control border-dark" name="placeName"
                                            autocomplete="off" required>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="row my-2  p row-cols-2">
                                    <div class="col-2 ">
                                        <label style="margin-top: 15px;">กีฬา</label>
                                    </div>
                                    <div class="col-auto">
                                        <select name="typeID" class="form-select border-dark" required>
                                           
                                            <% for(let i = 0; i < data.length; i++) { %>
                                                <option value="<%= data[i].typeID %>"><%= data[i].nameType %></option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="row my-2  p row-cols-2">
                                    <div class="col-2 ">
                                        <label class="col-form-label">URL Google Map</label>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control border-dark" name="placeUrl"
                                            autocomplete="off" required>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="row my-2  p row-cols-2">
                                    <div class="col-2 ">
                                        <label class="col-form-label">อัพโหลดไฟล์รูปภาพ</label>
                                    </div>
                                    <div class="col-4 ">
                                        <input type="file" class="form-control border-dark" name="placeFile" required>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="row my-2  p row-cols-2">
                                    <div class="col-2 h-auto" style="max-height: 300px; min-height: 100px;">
                                        <label class="col-form-label">รายละเอียดสถานที่</label>
                                    </div>
                                    <div class="col-4">
                                        <textarea input type="text" class="form-control border-dark" name="placeDetail" required></textarea>
                                    </div>
                                </div>

                                
                                <div class="row my-2  p row-cols-2 w-100">
                                    <div class="col-2 ">
                                        <label class="col-form-label ">วันที่ทำการ</label>

                                    </div>
                                    <div class="col-5 ">
                                        <div class="row row-cols-1 ">
                                            <div class="col-3">
                                                <div class="form-check ">
                                                    <input class="" type="checkbox" name="day" value="จันทร์" style=" width: 20px;
                                                        height: 20px;" id="mondayCheckbox">
                                                    <label class="col-form-label ">
                                                        จันทร์
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="monday" style="display:none;">
                                            <div class="col-auto">
                                                <label class="col-form-label">เวลาทำการ</label>

                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeOpen"
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <label class="col-form-label">ถึง</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeClose"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row row-cols-1 ">
                                            <div class="col-3">
                                                <div class="form-check ">
                                                    <input class="" type="checkbox" name="day" value="อังคาร" style=" width: 20px;
                                                        height: 20px;" id="tuesdayCheckbox">
                                                    <label class="col-form-label">
                                                        อังคาร
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="tuesday" style="display:none;">
                                            <div class="col-auto">
                                                <label class="col-form-label">เวลาทำการ</label>

                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeOpen"
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <label class="col-form-label">ถึง</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeClose"
                                                    autocomplete="off">
                                            </div>
                                        </div>

                                        </div>
                                        <div class="row row-cols-1 ">
                                            <div class="col-3">
                                                <div class="form-check ">
                                                    <input class="" type="checkbox" name="day" value="พุธ" style=" width: 20px;
                                                        height: 20px;" id="wednesdayCheckbox">
                                                    <label class="col-form-label ">
                                                        พุธ
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="wednesday" style="display:none;">
                                            <div class="col-auto">
                                                <label class="col-form-label">เวลาทำการ</label>

                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeOpen"
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <label class="col-form-label">ถึง</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeClose"
                                                    autocomplete="off">
                                            </div>
                                        </div>

                                        </div>
                                        <div class="row row-cols-1 ">
                                            <div class="col-3">
                                                <div class="form-check ">
                                                    <input class="" type="checkbox" name="day" value="พฤหัสบดี" style=" width: 20px;
                                                        height: 20px;" id="thursdayCheckbox">
                                                    <label class="col-form-label ">
                                                        พฤหัสบดี
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="thursday" style="display:none;">
                                            <div class="col-auto">
                                                <label class="col-form-label">เวลาทำการ</label>

                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeOpen"
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <label class="col-form-label">ถึง</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeClose"
                                                    autocomplete="off">
                                            </div>
                                        </div>

                                        </div>
                                        <div class="row row-cols-1 ">
                                            <div class="col-3">
                                                <div class="form-check ">
                                                    <input class="" type="checkbox" name="day" value="ศุกร์" style=" width: 20px;
                                                        height: 20px;" id="fridayCheckbox">
                                                    <label class="col-form-label ">
                                                        ศุกร์
                                                    </label>
                                                </div>
                                            </div>

                                            <div id="friday" style="display:none;">
                                            <div class="col-auto">
                                                <label class="col-form-label">เวลาทำการ</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeOpen"
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <label class="col-form-label">ถึง</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeClose"
                                                    autocomplete="off">
                                            </div>
                                            </div>

                                        </div>
                                        <div class="row row-cols-1 ">
                                            <div class="col-3">
                                                <div class="form-check ">
                                                    <input class="" type="checkbox" name="day" value="เสาร์" style=" width: 20px;
                                                        height: 20px;" id="saturdayCheckbox">
                                                    <label class="col-form-label ">
                                                        เสาร์
                                                    </label>
                                                </div>
                                            </div>

                                            <div id="saturday" style="display:none;">
                                            <div class="col-auto">
                                                <label class="col-form-label">เวลาทำการ</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeOpen"
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <label class="col-form-label">ถึง</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeClose"
                                                    autocomplete="off">
                                            </div>
                                        </div>

                                        </div>
                                        <div class="row row-cols-1 ">
                                            <div class="col-3">
                                                <div class="form-check ">
                                                    <input class="" type="checkbox" name="day" value="อาทิตย์" style=" width: 20px;
                                                        height: 20px;" id="sundayCheckbox">
                                                    <label class="col-form-label ">
                                                        อาทิตย์
                                                    </label>
                                                </div>
                                            </div>

                                            <div id="sunday" style="display:none;">
                                            <div class="col-auto">
                                                <label class="col-form-label">เวลาทำการ</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeOpen"
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-auto">
                                                <label class="col-form-label">ถึง</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="time" class="form-control border-dark" name="timeClose"
                                                    autocomplete="off">
                                            </div>
                                        </div>

                                        </div>
                                    </div>

                                </div>
                                
                                <div class="form-group" style="margin-top: 10px;">
                                    <a href="javascript:history.back()" class="btn btn-primary">ย้อนกลับ</a>
                                    <input type="submit" class="btn btn-success" value="ตกลง">
                                </div>
                            </form>
                        </div>
                    </div>

        </body>
<script>
document.getElementById("mondayCheckbox").addEventListener("change", function(){
  var valueDiv = document.getElementById("monday");
  if(this.checked){
    valueDiv.style.display = "block";
  } else {
    valueDiv.style.display = "none";
  }
});

document.getElementById("tuesdayCheckbox").addEventListener("change", function(){
  var valueDiv = document.getElementById("tuesday");
  if(this.checked){
    valueDiv.style.display = "block";
  } else {
    valueDiv.style.display = "none";
  }
});

document.getElementById("wednesdayCheckbox").addEventListener("change", function(){
  var valueDiv = document.getElementById("wednesday");
  if(this.checked){
    valueDiv.style.display = "block";
  } else {
    valueDiv.style.display = "none";
  }
});

document.getElementById("thursdayCheckbox").addEventListener("change", function(){
  var valueDiv = document.getElementById("thursday");
  if(this.checked){
    valueDiv.style.display = "block";
  } else {
    valueDiv.style.display = "none";
  }
});

document.getElementById("fridayCheckbox").addEventListener("change", function(){
  var valueDiv = document.getElementById("friday");
  if(this.checked){
    valueDiv.style.display = "block";
  } else {
    valueDiv.style.display = "none";
  }
});

document.getElementById("saturdayCheckbox").addEventListener("change", function(){
  var valueDiv = document.getElementById("saturday");
  if(this.checked){
    valueDiv.style.display = "block";
  } else {
    valueDiv.style.display = "none";
  }
});

document.getElementById("sundayCheckbox").addEventListener("change", function(){
  var valueDiv = document.getElementById("sunday");
  if(this.checked){
    valueDiv.style.display = "block";
  } else {
    valueDiv.style.display = "none";
  }
});

</script>
        </html>
    </div>