<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>place</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <a href="/place" class="btn btn-info">ย้อนกลับ</a>
    <br><br>

    <div class="card">
        <div class="card-header">
            เพิ่มสถานที่
        </div>
        <div class="card-body">
            <form action="/place/edit" method="post">
                <div class="form-group">
                    <label>ชื่อสถานที่:</label>
                    <input type="text" class="form-control" name="placeName" value="<%= placeName %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>กีฬา:</label>
                    <input type="text" class="form-control" name="sportID" value="<%= sportID %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>URL สถานที่:</label>
                    <input type="text" class="form-control" name="placeUrl" value="<%= placeUrl %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>อัพโหลดไฟล์รูปภาพ:</label>
                    <input type="text" class="form-control" name="placeFile" value="<%= placeFile %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>รายละเอียดสถานที่:</label>
                    <input type="text" class="form-control" name="placeDetail" value="<%= placeDetail %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <a href="/place" class="btn btn-info">Back</a>
                    <input type="submit" class="btn btn-info" value="Update">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
</div>