<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
           <div class="col py-3 mx-auto container-xxl ">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>place</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    
    <br><br>

    <div class="card">
        <div class="card-header display-6">
            ข้อมูลสถานที่
        </div>
        <div class="card-body">
                <!--  -->
                <div class="row my-2  p row-cols-2">
                    <div class="col-2 ">
                        <label class="col-form-label">ชื่อสถานที่</label>
                    </div>
                    <div class="col-auto">
                        <label class="col-form-label"><%= data[0].placeName %></label>
                   
                    </div>
                </div>
                <!--  -->
                <div class="row my-2  p row-cols-2">
                    <div class="col-2 ">
                        <label class="col-form-label"> กีฬา</label>
                    </div>
                    <div class="col-auto">
                        <label class="col-form-label"><%= data[0].nameType %></label>
                        
                    </div>
                </div>
                <!--  -->
                <div class="row my-2  p row-cols-2">
                    <div class="col-2 ">
                        <label class="col-form-label">URL สถานที่</label>
                    </div>
                    <div class="col-4">
                        <iframe width="600" height="400" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=<%= URL %>&key=AIzaSyD0L1mq9oNzqPEepFbHk0iARm-yzX0ok8A" allowfullscreen>
</iframe>
                    </div>
                </div>
                <!--  -->
                <div class="row my-2  p row-cols-2">
                    <div class="col-2 ">
                        <label class="col-form-label">รูปภาพ</label>
                    </div>
                    <div class="col-4 ">
                        <image src="/place/<%= data[0].placeFile %>" id="imgpreview" class="form-control" name="placeFile"
                            autocomplete="off" >
                    </div>
                </div>
                <!--  -->
                <div class="row my-2  p row-cols-2">
                    <div class="col-2 h-auto" style="max-height: 300px; min-height: 100px;">
                        <label class="col-form-label">รายละเอียดสถานที่</label>
                    </div>
                    <div class="col-4">
                        <textarea input type="text" class="form-control border-dark" name="placeDetail" value="<%= data[0].placeDetail %>" disabled><%= data[0].placeDetail %></textarea>
                    </div>
                </div>
               <!--  -->
               <div class="row row-cols-2 mt-5 text-center d-flex justify-content-center">
                <div class="col-2">
                    <a href="/place" class="btn btn-danger">ย้อนกลับ</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function preview() {
            imgpreview.src = URL.createObjectURL(event.target.files[0]);
            imgpreview.style.display = "block";

        }
    </script>
</body>
</html>
</div>