<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>tournament</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('are you sure?');
        }
        </script>

        <h1>รายการแข่งขันที่ต้องกำหนดเวลาและสถานที่</h1>
        <a href="/tournament/add" class="btn btn-primary">เพิ่มการแข่งขัน</a>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link ml-auto">
                    
                </li>
            </ul>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ชื่อการแข่งขัน</th>
                            <th scope="col">ประเภทกีฬา</th>
                            <th scope="col">ครั้งที่แข่งขัน</th>
                            <th scope="col">ที่ยังไม่ได้ใส่ข้อมูล</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].tnmName %></td>
                                <td><%= data[i].sportName %></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="../tournament/delete/<%= data[i].tnmID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                    <a href="../tournament/detail/<%= data[i].tnmID %>" class="btn btn-primary page">ดู</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>
    </div>

</body>
</html>
</div>