<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>participant</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
    <% if(data && data[0]) { %>
    <h1>ผลการแข่งขัน <%= tournamentName %></h1>
    <%- include("../partials/menu_tnmsearch.ejs") %>

    <%= data[0].st1 %>
    <%= data[0].nd2 %>
    <%= data[0].rd3 %>


<% } %>



            <!-- if result is empty-->
            <% if(!data && !data[0]) { %>
                <h1><%= tournamentName %></h1>
                <%- include("../partials/menu_tnmsearch.ejs") %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>

        
    </body>

</html>
</div>