<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>sport</title>
    <style>
        table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

td {
  border: 1px solid #ddd;
}
    </style>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('are you sure?');
        }
        </script>

<h1>ตารางการใช้งานสถานที่</h1>
<div class="float-end">
  <form action="/placetable/search-placetable" method="post">
    <label for="date">วันที่</label>
    <input type="date" name="date">
    <label>ชนิดกีฬา</label>
    <select name="sporttype">
      <option value="">ทั้งหมด</option>
      <% for(s = 0; s < sporttype.length; s++){ %>
      <option value="<%= sporttype[s].typeID %>"><%= sporttype[s].nameType %></option>
      <% } %>
    </select>
    <label>ชื่อสถานที่</label>
    <input type="text" name="place">
    <input type="submit" class="btn btn-primary" value="ค้นหา">
  </form>
    </div>



    <div class="card w-100">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ช่วงเวลา/สนาม</th>
                <% for(let time = 8; time <= 21; time ++){ %>
                    <% let hour = Math.floor(time); %>
                    <% let minute = (time - hour) * 60; %>
                    <th colspan="2" scope="col"><%= time %>:00</th>
                  <% } %>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < place.length; i++) { %>
                <tr>
                  <th scope="row"><%= place[i].placeName %></th>
                  <% for(let j = 8; j <= 21; j += 0.5){ %>
                    <% let isHighlighted = false; %>
                    <% for(let k = 0; k < match.length; k++) { %>
                      <% let matchStartTime = parseFloat(match[k].time.replace(':', '.')); %>
                      <% let matchEndTime = parseFloat(match[k].timeend.replace(':', '.')); %>
                      <% let matchpDate = match[k].pDate.toLocaleDateString('th-TH',{day: '2-digit', month: 'long', year:'numeric'}) %>
                      <% if (match[k].placeID === place[i].placeID && j >= matchStartTime && j < matchEndTime && matchpDate === thisDate) { %>
                        <% isHighlighted = true; %>
                      <% } %>
                    <% } %>
                    <% let isOpen = false; %>
                    <% for(let k = 0; k < opening.length; k++) { %>
                      <% let openingStartTime = parseFloat(opening[k].timeOpen.replace(':', '.')); %>
                      <% let openingEndTime = parseFloat(opening[k].timeClose.replace(':', '.')); %>
                      <% if (opening[k].placeID === place[i].placeID && j >= openingStartTime && j < openingEndTime && opening[k].day === currentDay) { %>
                        <% isOpen = true; %>
                      <% } %>
                    <% } %>
                    <% if (isOpen) { %>
                      <% if (isHighlighted) { %>
                        <td class="bg-danger"></td>
                      <% } else { %>
                        <td></td>
                      <% } %>
                    <% } else { %>
                      <td class="bg-secondary"></td>
                    <% } %>
                  <% } %>
                </tr>     
              <% } %>
            </tbody>
          </table>

            <!-- if result is empty-->
            <% if(!place.length) { %>
                <p class="text-center">ไม่พบรายการสถานที่</p>
            <% } %>
    </div>

</body>
</html>
</div>
