<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>match</title>
</head>
<body>
        <h1>หน้าผู้เข้าร่วม <%= tournamentname %></h1>
        <%- include("../../partials/menu_staff.ejs") %>
        <div class="mt-3">
        <h4>แข่งวันที่ เวลา</h4>
    </div>
        <div class="card">
            <% if(data.length) { %>
                <form action="/tournament/editteamleader/<%= tnmID %>"   method="post" class="needs-validation" >
                <div>
                    <table class="table  w-75 mx-auto my-5 border  border-dark table-striped table-hover text-center align-middle">
                    <thead style="background-color: rgb(96, 166, 253); ">
                        <tr>
                            <th width="100px">ลำดับที่</th>
                            <th scope="col">ชื่อทีม</th>
                            <th width="200px">คะแนน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= data[i].teamName %></td>
                                <input type="hidden" name="mlID" value="<%= data[i].mlID%>">
                                <td><input type="text" name="score" class="form-control" value="<%= data[i].score %>" required></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="text-center">

                <a class="btn btn-danger me-5" href="/tournament/match/<%= tnmID %>">ยกเลิก</a>
                
                <button class="btn btn-success ms-5" value="submit">ยืนยัน</button>
            </div>
            </form>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>

</body>
</html>
</div>