<%- include("../../partials/header") %>
<%- include("../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>match</title>
</head>
<body>
        <h1>หน้าผู้เข้าร่วม <%= tournamentname %></h1>
        <%- include("../../partials/menu_staff.ejs") %>
        <div class="mt-3">
        <a class="btn btn-warning">แก้ไขวันที่และเวลา</a><h4>แข่งวันที่ เวลา</h4><a href="/tournament/editsingleleader/<%= tnmID%>" class="btn btn-warning">แก้ไขคะแนน</a>
    </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table w-50 mx-auto mt-4 border text-center">
                    <thead style="background-color: rgb(96, 166, 253); ">
                        <tr>
                            <th width="100px">ลำดับที่</th>
                            <th scope="col">ชื่อผู้เล่น</th>
                            <th width="200px">คะแนน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= data[i].playerFName %></td>
                                <td><%= data[i].score %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>

</body>
</html>
</div>