<%- include("../../partials/header") %> <%- include("../../partials/sidebar") %>
<div class="col-10 py-3 mx-auto">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>match</title>
    </head>
    <body>
      <h1> <%= tournamentName %></h1>
      <%- include("../../partials/menu_staff.ejs") %> <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert"><%= messages.error %></div>
      <% } %>

      <script type="text/javascript">
        function confirm_delete() {
          return confirm('คุณแน่ใจแล้วหรือไม่?\nถ้าบันทึกคะแนนแล้วไม่สามารถแก้ไขคะแนนได้');
        }

        function check_input() {
          var inputs = document.querySelectorAll('[id^="score"]');
          for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value) {
              if (!confirm_delete()) {
                return false; // Cancel form submission
              }
              break; // Stop looping after displaying confirmation message
            }
          }
          return true;
        }
      </script>

      <!-- //แบบเดี่ยว -->
      <div class="card-body">
        <h1 class="text-center mt-3">กำหนดวันและสถานที่ของแมทช์การแข่งขัน</h1>
        <table class="table w-75 mx-auto my-5 border border-dark table-striped table-hover text-center align-middle">
          <thead style="background-color: rgb(96, 166, 253)">
            <tr>
              <th class="align-middle text-center" scope="col">Match</th>
              <th class="align-middle text-center" scope="col">Date & Time</th>
              <th class="align-middle text-center" scope="col">สถานที่การแข่งขัน</th>
              <th class="align-middle text-center" scope="col">คู่ระหว่าง</th>
              <th class="align-middle text-center" scope="col">คะแนน</th>
              <th class="align-middle text-center" width="200px">ตัวเลือก</th>
            </tr>
          </thead>
          <% if(data && data[0]) { %> <% if(data.length) { %>
          <tbody>
            <% for(let i = 0; i < data.length; i++) { %>

            <tr>
              <td class="align-middle text-center"><%= i+1 %></td>
              <% if(data[i].pDate === null || data[i].time === null || data[i].timeend === null){ %>

              <td class="align-middle text-center"><%= data[i].pDate %></td>
              <% }else{ %>
              <td class="align-middle text-center">
                <%= data[i].pDate.toLocaleDateString('th-TH',{day: '2-digit' , month: 'long' , year:'numeric'}) %> <%= data[i].time.slice(0, 5); %> - <%= data[i].timeend.slice(0, 5); %>
              </td>
              <% } %>
              <td class="align-middle text-center"><%= data[i].placeName %></td>
              <td class="align-middle text-center"><%= data[i].player1_name %> vs <%= data[i].player2_name %></td>
              <% if(data[i].score1=== null && data[i].score2 === null){ %>
              <td class="align-middle text-center">0 - 0</td>
              <%}else{ %>
              <td class="align-middle text-center"><%= data[i].score1%> - <%= data[i].score2%></td>
              <% } %>
              <td class="align-middle text-center">
                <% if(data[i].score1 && data[i].score2){ %>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropview<%= i %>">ดู</button>

                <% }else{ %>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editpoint<%= i %>">แก้ไข</button>
                <% } %>

                <!-- Modal -->
                <div class="modal fade" id="editpoint<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">กรอกผลคะแนน</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="/tournament/matchedit/<%= tnmID %>" method="post" encType="multipart/border-dark form-data">
                          <% if(data[i].pDate === null){ %>
                          <div class="row mt-3">
                            <div class="col-3 text-center align-self-center">วันที่</div>
                            <div class="col-auto">
                              <input type="date" class="border-dark form-control" name="pDate" value="<%= data[i].pDate %>" required />
                            </div>
                          </div>
                          <% }else{ %>
                          <div class="row mt-3">
                            <div class="col-3 text-center align-self-center">วันที่</div>
                            <div class="col-auto">
                              <% let dateParts = data[i].pDate.toLocaleDateString('en-US',{ month: '2-digit',day: '2-digit', year:'numeric'}).split('/') %>
                              <% let matchday = new Date(`${dateParts[2]}-${dateParts[0]}-${dateParts[1]}`).toISOString().slice(0, 10); %>
                              <input type="date" class="border-dark form-control" name="pDate" value="<%= matchday %>" required />
                            </div>
                          </div>

                          <% } %>

                          <div class="row mt-3">
                            <div class="col-3 text-center align-self-center">สถานที่</div>
                            <div class="col-auto">
                              <select name="placeID" class="border-dark form-select">
                                <% for(let j=0; j < place.length; j++) { %>
                                <option value="<%= place[j].placeID %>"><%= place[j].placeName %></option>
                                <% } %>
                              </select>
                            </div>
                          </div>

                          <div class="row mt-3">
                            <div class="col-3 text-center align-self-center">ช่วงเวลา</div>
                            <div class="col-auto">
                              <div class="d-flex">
                                <input type="time" class="border-dark form-control w-auto" name="time" value="<%= data[i].time %>" required />
                                <p class="align-self-center mb-0 mx-3">ถึง</p>
                                <input type="time" class="border-dark form-control w-auto" name="Endtime" value="<%= data[i].timeend %>" required />
                              </div>
                            </div>
                          </div>
                          <input type="hidden" name="matchID" value="<%= data[i].matchID %>" />

                          <!-- <div class="row mt-3">
                            <div class="mt-3">ผลการแข่งขัน</div>
                            <input type="hidden" name="participant1" value="<%= data[i].p1ID %>" />
                            <div class="row mt-3">
                              <div class="d-flex justify-content-center">
                                <p class="align-self-center mb-0 me-3"><%= data[i].player1_name %></p>
                                <input type="text" class="border-dark form-control" name="score1" id="score1<%= i%>" style="width: 70px" />
                                <input type="hidden" name="participant2" value="<%= data[i].p2ID %>" />

                                <p class="align-self-center mb-0 mx-3">VS</p>
                                <p class="align-self-center mb-0 me-3"><%= data[i].player2_name %></p>

                                <input type="text" class="border-dark form-control" name="score2" id="score2<%= i%>" style="width: 70px" />
                              </div>
                            </div>

                            
                            <input type="hidden" name="round" value="<%= data[i].round %>" />
                            <input type="hidden" name="seed" value="<%= data[i].seed %>" />
                          </div>
                          <div class="row mt-3">
                            <div class="col-3 text-center align-self-center">ไฟล์</div>
                            <div class="col-9">
                              <input type="file" class="border-dark form-control" name="scoresheet" maxlength="4000000" accept="image/jpg,image/png,application/pdf" style="width: 230px" />
                            </div>
                          </div> -->

                          <div class="modal-footer mt-3">
                            <button value="sunbmit" class="btn btn-success" onclick="return check_input()">บันทึก</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdropview<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">ดูรายละเอียด</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-start">
                        <% if(data[i].pDate){ %>
                        <p class="p-1">วันที่ : <%= data[i].pDate.toLocaleDateString('th-TH',{day: '2-digit' , month: 'long' , year:'numeric'}) %> <% } %></p>
                        <p class="p-1">สถานที่ : <%=data[i].placeName %></p>
                        <p class="p-1"><% if(data[i].time && data[i].timeend){ %> เวลา : <%= data[i].time.slice(0, 5); %> - <%= data[i].timeend.slice(0, 5); %> <% } %></p>
                        <p class="p-1">ผลการแข่งขัน <%= data[i].player1_name %><%= data[i].score1 %> <%= data[i].player2_name %><%= data[i].score2 %></p>
                        <p class="p-1">ไฟล์ : <a href="../../scoresheet/<%= data[i].matchfile %>" download="">ใบกรอกคะแนน</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
          <% } %> <% } %>
        </table>

        <!-- if result is empty-->
        <% if(!data || !data[0]) { %>
        <h4 class="text-center" style="margin-top: 50px">ไม่พบรายการ</h4>
        <% } %>
      </div>
    </body>
  </html>
</div>
