<%- include("../../partials/header") %>
    <%- include("../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>match</title>
                <style>
                    #popup {
                        position: absolute;
                        top: 50%;
                        left: 58%;
                        transform: translate(-50%, -50%);
                        background-color: white;
                        padding: 10px;
                    }

                    .close-button {
                        font-size: 10px;
                        padding: 10px;
                        background-color: rgb(255, 0, 0);
                        color: white;
                        border: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                </style>
            </head>

            <body>
                <h1>หน้าผู้เข้าร่วม <%= tournamentName %>
                </h1>
                <%- include("../../partials/menu_staff.ejs") %>
                    <div class="row mt-3">
                        <div class="col-auto ">
                            <button id="popup-button" class="btn btn-warning">แก้ไขวันที่และเวลา</button>
                        </div>
                        <div class="col-6 text-start">
                            <% if(data && data[0] && data[0].pDate !== null && data[0].time !== null) {%>
                                <h4>แข่งวันที่ <%=data[0].pDate.toLocaleDateString('th-TH',{day: '2-digit' ,
                                        month: 'long' , year:'numeric'}) %> เวลา <%= data[0].time%>
                                 สถานที่ <%= data[0].placeName %></h4>
                                <div id="popup" style="display: none;" class="border border-dark">
                                    <% const mdate=data[0].pDate.toISOString().substring(0, 10);%>
                                        <button id="close-button" class="close-button">x</button>
                                        <h2>แก้ไขวันที่และเวลา</h2>
                                        <form action="/tournament/datetime" method="post">
                                            <div class="row row-cols-1">
                                                <div class="col-12 mt-3">
                                                    <div class="row">
                                                    <div class="col-2">
                                                        <label for="" class="form-label">แข่งขันวันที่ </label>
                                                    </div>
                                                    <div class="col">
                                                        <input type="hidden" name="tnmID" value="<%= tnmID%>">
                                                        <input type="date" name="date" class="col-form-label border border-dark" value="<%= mdate%>">
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <label for="" class="form-label">เวลา </label>
                                                        </div>
                                                        <div class="col">
                                                            <input type="time" name="time" class="col-form-label border border-dark" value="<%=data[0].time%>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <div class="row row-cols-2">
                                                        <div class="col-2">
                                                            <label for="" class="form-label">สถานที่ </label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <select  class="form-select border border-dark " name="placeID">
                                                                <% for(let i=0; i < place.length; i++) { %>
                                                                    <option value="<%= place[i].placeID %>">
                                                                        <%= place[i].placeName %>
                                                                    </option>
                                                                    <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-success" type="submit">ยืนยัน</button>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                                <% }else{%>
                                    <h4>แข่งวันที่ เวลา </h4>
                                    <div id="popup" style="display: none;" class="border border-dark">
                                        <button id="close-button" class="close-button">x</button>
                                        <h2>แก้ไขวันที่และเวลา</h2>
                                        <form action="/tournament/datetime" method="post">
                                            <input type="hidden" name="tnmID" value="<%= tnmID%>">
                                            แข่งขันวันที่
                                            <input type="date" name="date">
                                            เวลา
                                            <input type="time" name="time">
                                            สถานที่
                                            <select name="placeID">
                                                <% for(let i=0; i < place.length; i++) { %>
                                                    <option value="<%= place[i].placeID %>">
                                                        <%= place[i].placeName %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                            <button class="btn btn-success" type="submit">ยืนยัน</button>
                                        </form>
                                    </div>
                                    <% } %>
                        </div>
                        <div class="col-3 text-start">

                            <a href="/tournament/editsingleleader/<%= tnmID%>" class="btn btn-warning">แก้ไขคะแนน</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <% if(data[0].playerFName) { %>
                            <table class="table  w-75 mx-auto my-5 border  border-dark table-striped table-hover text-center align-middle">
                                <thead style="background-color: rgb(96, 166, 253); ">
                                    <tr>
                                        <th width="100px">ลำดับที่</th>
                                        <th scope="col">ชื่อผู้เล่น</th>
                                        <th width="200px">คะแนน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i < data.length; i++) { %>
                                        <tr>
                                            <th scope="row">
                                                <%= i+1 %>
                                            </th>
                                            <td>
                                                <%= data[i].playerFName %>
                                            </td>
                                            <td>
                                                <%= data[i].score %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                            <% } %>

                                <!-- if result is empty-->
                                <% if(!data[0].playerFName) { %>
                                    <p class="text-center">ไม่พบรายการ</p>
                                    <% } %>
                    </div>

            </body>
            <script>
                var popupButton = document.getElementById("popup-button");
                var popup = document.getElementById("popup");

                popupButton.addEventListener("click", function () {
                    if (popup.style.display === "none") {
                        popup.style.display = "block";
                    } else {
                        popup.style.display = "none";
                    }
                });
            </script>
            <script>
                var closeButton = document.getElementById("close-button");
                closeButton.addEventListener("click", function () {
                    if (popup.style.display === "block") {
                        popup.style.display = "none";
                    }
                });
            </script>

            </html>
        </div>