<%- include("../../../partials/header") %>
<div class="container-xxl mt-5 px-3">
<!DOCTYPE html>
<html lang="en">

<head>
<title>ผู้เข้าร่วม</title>
<style>
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1px;
    border: 1px solid #888;
    width: 60%;
}
.modal-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(242, 2, 2);
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>
<body>  
<!-- กรอบ box  -->
<div class=" d-flex flex-column text-center h-auto mb-5 border   border-dark rounded-3 "
    style="background:#D9D9D9 ;">

    <%- include("../../../partials/menuuser.ejs") %>

            <div class="card-body w-75 mx-auto">
        <h4 class="fs-4 mt-2">ทีมที่เข้าร่วม</h4>
    <% if(data.length) { %>

    <div class="row row-cols-xxl-4  text-center">
    <% for(let i=0; i < data.length; i++) { %>
    <div class="col mb-3">
    <div class=" card boder boder-dark p-0 mx-auto" style="width: 15rem;">
    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="document.getElementById('view<%= i %>').style.display='block'">
    <img src="/team/<%=data[i].teamPic%>" class="card-img-top" alt="phototeam" style="height: 13rem;  padding: 0.5rem;">
        <div class="card-body">

                <%= data[i].teamName %>
                    </div>
                </button>
                    </div>
                </div>

                <div id="view<%= i %>" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" onclick="document.getElementById('view<%= i %>').style.display='none'">&times;</span>
                        </div>
                        <h1>รายชื่อผู้เล่นในทีม</h1>
                        <table class="table w-75 mx-auto mt-5  text-center  table-hover table-striped">
                            <thead>
                                <tr style="background-color: rgb(96, 166, 253);">
                                    <th>#</th>
                                    <th scope="col">ชื่อ - นามสกุล</th>
                                    <th scope="col">เพศ</th>
                                    <th scope="col">อายุ</th>
                                    <th scope="col">มหาวิทยาลัย</th>
                                    <th scope="col">คณะ</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider bg-white ">
                                <% for(let j=0; j < player.length; j++) { %>
                                    <% if(player[j].teamID === data[i].teamID){ %>
                                        <tr>
                                            <td><%= j+1 %></td>
                                            <td><%= player[j].playerFName %> <%= player[j].playerLName %></td>
                                            <td><%= player[j].playerGender %></td>
                                            <td><%= player[j].age %></td>
                                            <td><%= player[j].uniName %></td>
                                            <td><%= player[j].facName %></td>
                                        </tr>
                                    <% } %>
                                        <% } %>
                            </tbody>
                        </table>
                        
                    </div>  
                </div>
                    <% } %>
                </div>
                <% } %>
                </div>

                




            <!-- if result is empty-->
            <% if(!data.length) { %>
                <div class="row py-5">
                    <h1>ไม่พบรายการ</h1>
                </div>
                <% } %>


                    <!-- out box -->
                            </div>



            </div>
        </body>

        </html>
    </div>