<%- include("../partials/header.ejs") %>
    <%- include("../partials/banner") %>


        <div class="container-xxl py-3 mx-auto">
            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>Home</title>
            </head>

            <body>
                <div class="container text-center">

                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= messages.error %>
                        </div>
                        <% } %>
                            <% if (messages.success) { %>
                                <div class="alert alert-success" role="alert">
                                    <%= messages.success %>
                                </div>
                                <% } %>

                                <%- include("../partials/menuindex") %>

                                   <!---------------------------------------------------------------------------------------------->
                                   <div class="h-auto card rounded-2 mt-5  mx-5">
                                    <div class="card-header p-2 d-flex  justify-content-start justify-content-sm-center align-items-center text-center position-relative" style=" height: 5rem; background-color: #6DAFFE;">
                                        
                                        <p class="  text-body fw-bolder text-wrap  mb-0">
                                            เปิดรับสมัคร</p> <!-- name -->
                                        <a class=" text-body btn btn-warning btn-sm  position-absolute top-50 end-0 translate-middle-y me-2 "
                                            role="button" href="/opening" style="font-size: 0.8vw;  
                                            ">ดูทั้งหมด</a>
                                    </div>
                                    <div class="card-body bg-secondary bg-opacity-25 pb-2">
                
                                            
                                            <% if(opening.length) { %>
                                                <div class="row row-cols-1 row-cols-md-4 g-4 p-4">
                                                    <% for(let i=0; i < opening.length; i++) { %>
                                
                                                                <div class="col">
                                                                    <a href="/tnmdetail/<%= opening[i].tnmID %>"
                                                                        class="text-decoration-none text-dark  fw-bolder">
                                                                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                                                                        <div class="card-header bg-transparent border-dark d-flex justify-content-center align-items-center" style="height: 65px;"> <%= opening[i].tnmName %></div>
                                                                        <img class="p-1 card-img" src="images/<%= opening[i].tnmPicture %>"
                                                                        class="card-img-top img-fluid rounded-0" style="height: 16rem">
                                                                        <div class="card-body text-dark">
                                                                          <p class="card-title">เปิดรับสมัคร </p>
                                                                          <p class="card-text">  
                                                                            <%= opening[i].Rstartdate.toLocaleDateString('th-TH',{day: '2-digit', month: 'short' , year:'2-digit'}) %> -
                                                                           <%= opening[i].Renddate.toLocaleDateString('th-TH',{day: '2-digit', month: 'short' , year:'2-digit'}) %> </label>
                                                                           <% if(opening[i].sportPlaynum > 1 ){ %>
                                                                               <% opening[i].nop = opening[i].nop / opening[i].sportPlaynum %>
                                                                               <% } %></p>
                                                                        </div>
                                                                        <div class="card-footer bg-transparent border-dark">จำนวนผู้สมัคร <%= opening[i].nop %>  คน</div>
                                                                      </div>
                                                                    </a>
                                                                </div>
                                                                
                                                            <% } %>
                                                        </div>
                                                            <% } %>
                
                                                                    <% if(!opening.length) { %>
                                                                        <h4 class="text-center text-wrap" style="margin-top: 50px; margin-bottom: 50px;">ไม่พบรายการแข่งขัน</h4>
                                                                        <% } %>
                
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------->
                                   <!---------------------------------------------------------------------------------------------->
                                   <div class="h-auto card rounded-2 mt-5  mx-5">
                                    <div class="card-header p-2 d-flex  justify-content-start justify-content-sm-center align-items-center text-center position-relative " style=" height: 5rem; background-color: #6DAFFE;">

                                        <p class="  text-body fw-bolder  text-wrap mb-0">
                                            อยู่ระหว่างแข่งขัน</p> <!-- name -->
                                        <a class=" text-body btn btn-warning btn-sm  position-absolute top-50 end-0 translate-middle-y me-4 "
                                            role="button" href="/ongoing" style="font-size: 0.8vw;  
                                            ">ดูทั้งหมด</a>
                                    </div>
                                    <div class="card-body bg-secondary bg-opacity-25 pb-2">
                
                                            
                                            <% if(ongoing.length) { %>
                                                <div class="row row-cols-1 row-cols-md-4 g-4 p-4">
                                                    <% for(let i=0; i < ongoing.length; i++) { %>
                                
                                                                <div class="col">
                                                                    <a href="/tnmdetail/<%= ongoing[i].tnmID %>"
                                                                        class="text-decoration-none text-dark  fw-bolder">
                                                                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                                                                        <div class="card-header bg-transparent border-dark d-flex justify-content-center align-items-center" style="height: 65px;"><%= ongoing[i].tnmName %></div>
                                                                        <img class="p-1 card-img" src="images/<%= ongoing[i].tnmPicture %>"
                                                                        class="card-img-top img-fluid rounded-0" style="height: 16rem">
                                                                        <div class="card-body text-dark">
                                                                          <p class="card-title">ช่วงวันที่แข่งขัน</p>
                                                                          <p class="card-text">  
                                                                            <%= ongoing[i].tnmStartdate.toLocaleDateString('th-TH',{day: '2-digit', month: 'short' , year:'2-digit'}) %> -
                                                                           <%= ongoing[i].tnmEnddate.toLocaleDateString('th-TH',{day: '2-digit', month: 'short' , year:'2-digit'}) %> </label>
                                                                           <% if(ongoing[i].sportPlaynum > 1 ){ %>
                                                                               <% ongoing[i].nop = ongoing[i].nop / ongoing[i].sportPlaynum %>
                                                                               <% } %></p>
                                                                        </div>
                                                                        <div class="card-footer bg-transparent border-dark">จำนวนผู้สมัคร <%= ongoing[i].nop %> คน</div>
                                                                      </div>
                                                                    </a>
                                                                </div>
                                                                
                                                            <% } %>
                                                        </div>
                                                            <% } %>
                
                                                                    <% if(!ongoing.length) { %>
                                                                        <h4 class="text-center text-wrap" style="margin-top: 50px; margin-bottom: 50px;">ไม่พบรายการแข่งขัน</h4>
                                                                        <% } %>
                
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------->
                                               <!---------------------------------------------------------------------------------------------->
                                               <div class="h-auto card rounded-2 mt-5  mx-5">
                                                <div class="card-header p-2 d-flex  justify-content-start justify-content-sm-center align-items-center text-center position-relative" style=" height: 5rem; background-color: #6DAFFE;">

                                                    <p class="  text-body fw-bolder  text-wrap mb-0">
                                                        เสร็จสิ้นการแข่งขัน</p> <!-- name -->
                                                    <a class=" text-body btn btn-warning btn-sm  position-absolute top-50 end-0 translate-middle-y me-4 "
                                                        role="button" href="/ending" style="font-size: 0.8 vw;">ดูทั้งหมด</a>
                                                </div>
                                                <div class="card-body bg-secondary bg-opacity-25 pb-2">
                            
                                                        
                                                        <% if(ending.length) { %>
                                                            <div class="row row-cols-1 row-cols-md-4 g-4 p-4">
                                                                <% for(let i=0; i < ending.length; i++) { %>
                                            
                                                                            <div class="col">
                                                                                <a href="/tnmdetail/<%= ending[i].tnmID %>"
                                                                                    class="text-decoration-none text-dark  fw-bolder">
                                                                                <div class="card border-dark mb-3" style="max-width: 18rem;">
                                                                                    <div class="card-header bg-transparent border-dark d-flex justify-content-center align-items-center" style="height: 65px;"> <%= ending[i].tnmName %></div>
                                                                                    <img class="p-1 card-img" src="images/<%= ending[i].tnmPicture %>"
                                                                                    class="card-img-top img-fluid rounded-0" style="height: 16rem">
                                                                                    <div class="card-body text-dark">
                                                                                      <p class="card-title">ช่วงวันที่แข่งขัน</p>
                                                                                      <p class="card-text">  
                                                                                        <%= ending[i].tnmStartdate.toLocaleDateString('th-TH',{day: '2-digit', month: 'short' , year:'2-digit'}) %> -
                                                                                       <%= ending[i].tnmEnddate.toLocaleDateString('th-TH',{day: '2-digit', month: 'short' , year:'2-digit'}) %> </label>
                                                                                       <% if(ending[i].sportPlaynum > 1 ){ %>
                                                                                           <% ending[i].nop = ending[i].nop / ending[i].sportPlaynum %>
                                                                                           <% } %></p>
                                                                                    </div>
                                                                                    <div class="card-footer bg-transparent border-dark">จำนวนผู้สมัคร <%= ending[i].nop %> คน</div>
                                                                                  </div>
                                                                                </a>
                                                                            </div>
                                                                            
                                                                        <% } %>
                                                                    </div>
                                                                        <% } %>
                            
                                                                                <% if(!ending.length) { %>
                                                                                    <h4 class="text-center text-wrap" style="margin-top: 50px; margin-bottom: 50px;">ไม่พบรายการแข่งขัน</h4>
                                                                                    <% } %>
                            
                                                </div>
                                            </div>
                                            <!---------------------------------------------------------------------------------------------->
                            </body>

            </html>
        </div>