<%- include("../partials/header.ejs") %>
    <%- include("../partials/banner") %>


        <div class="container-xxl py-3 mx-auto">
            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>Home</title>
            </head>

            <body>
                <div class="container text-center">

                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= messages.error %>
                        </div>
                        <% } %>
                            <% if (messages.success) { %>
                                <div class="alert alert-success" role="alert">
                                    <%= messages.success %>
                                </div>
                                <% } %>

                                <%- include("../partials/menuindex") %>

                                   <!---------------------------------------------------------------------------------------------->
                                   <div class="card rounded-2 mt-5  mx-5">
                                    <div class="card-header p-2 d-flex  justify-content-center  text-center position-relative"
                                        style=" height: 5rem; background-color: #6DAFFE;">
                                        <h4 class="  text-body fw-bolder position-absolute top-50 start-50 translate-middle text-wrap"
                                            style="font-size: .8 em;">
                                            เปิดรับสมัคร</h4> <!-- name -->
                                        <a class=" text-body btn btn-warning btn-sm  position-absolute top-50 end-0 translate-middle-y me-4 "
                                            role="button" href="/opening" style="font-size: .8 rem;  
                                            ">ดูทั้งหมด</a>
                                    </div>
                                    <div
                                        class="d-flex flex-row rounded-bottom-2  justify-content-center bg-secondary bg-opacity-25 pb-2">
                
                                        <div class="align-items-start justify-content-center d-flex flex-wrap ">
                                            
                                            <% if(opening.length) { %>
                                                <% for(let i=0; i < opening.length; i++) { %>
                                                        <div class="card mx-3 my-4 rounded-4 bg-light" style="width: 15rem">
                                                            <a href="/tnmdetail/<%= opening[i].tnmID %>"
                                                                class="text-decoration-none text-dark  fw-bolder">
                                                                <div class="card-header bg-transparent text-truncate " >
                                                                    <%= opening[i].tnmName %>
                                                                </div>
                
                                                                <img src="images/<%=opening[i].tnmPicture %>"
                                                                    class="card-img-top img-fluid rounded-0" style="height: 15rem">
                                                                <div class="card-body">
                                                                    เปิดรับสมัคร <%= opening[i].Rstartdate.toLocaleDateString('th-TH',{day: '2-digit'
                                                                    , month: 'long' , year:'numeric'}) %> -
                                                                    <%= opening[i].Renddate.toLocaleDateString('th-TH',{day: '2-digit'
                                                                    , month: 'long' , year:'numeric'}) %>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <% } %>
                                                            <% } %>
                
                                                                    <% if(!opening.length) { %>
                                                                        <h4 class="text-center text-wrap" style="margin-top: 50px; margin-bottom: 50px;">ไม่พบรายการแข่งขัน</h4>
                                                                        <% } %>
                                        </div>
                
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------->
                                   <!---------------------------------------------------------------------------------------------->
                                   <div class="card rounded-2 mt-5  mx-5">
                                    <div class="card-header p-2 d-flex  justify-content-center  text-center position-relative"
                                        style=" height: 5rem; background-color: #6DAFFE;">
                                        <h4 class="  text-body fw-bolder position-absolute top-50 start-50 translate-middle text-wrap"
                                            style="font-size: .8 em;">
                                            อยู่ระหว่างแข่งขัน</h4> <!-- name -->
                                        <a class=" text-body btn btn-warning btn-sm  position-absolute top-50 end-0 translate-middle-y me-4 "
                                            role="button" href="/ongoing" style="font-size: .8 rem;  
                                            ">ดูทั้งหมด</a>
                                    </div>
                                    <div
                                        class="d-flex flex-row rounded-bottom-2  justify-content-center bg-secondary bg-opacity-25 pb-2">
                
                                        <div class="align-items-start justify-content-center d-flex flex-wrap ">
                                            
                                            <% if(ongoing.length) { %>
                                                <% for(let i=0; i < ongoing.length; i++) { %>
                                                        <div class="card mx-3 my-4 rounded-4 bg-light" style="width: 15rem">
                                                            <a href="/tnmdetail/<%= ongoing[i].tnmID %>"
                                                                class="text-decoration-none text-dark  fw-bolder">
                                                                <div class="card-header bg-transparent text-truncate " >
                                                                    <%= ongoing[i].tnmName %>
                                                                </div>
                
                                                                <img src="images/<%=ongoing[i].tnmPicture %>"
                                                                    class="card-img-top img-fluid rounded-0" style="height: 15rem">
                                                                <div class="card-body">
                                                                    ช่วงวันที่แข่งขัน <%= ongoing[i].tnmStartdate.toLocaleDateString('th-TH',{day: '2-digit'
                                                                    , month: 'long' , year:'numeric'}) %> -
                                                                    <%= ongoing[i].tnmEnddate.toLocaleDateString('th-TH',{day: '2-digit'
                                                                    , month: 'long' , year:'numeric'}) %>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <% } %>
                                                            <% } %>
                
                                                                    <% if(!ongoing.length) { %>
                                                                        <h4 class="text-center text-wrap" style="margin-top: 50px; margin-bottom: 50px;">ไม่พบรายการแข่งขัน</h4>
                                                                        <% } %>
                                        </div>
                
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------->
                                               <!---------------------------------------------------------------------------------------------->
                                               <div class="card rounded-2 mt-5  mx-5">
                                                <div class="card-header p-2 d-flex  justify-content-center  text-center position-relative"
                                                    style=" height: 5rem; background-color: #6DAFFE;">
                                                    <h4 class="  text-body fw-bolder position-absolute top-50 start-50 translate-middle text-wrap"
                                                        style="font-size: .8 em;">
                                                        เสร็จสิ้นการแข่งขัน</h4> <!-- name -->
                                                    <a class=" text-body btn btn-warning btn-sm  position-absolute top-50 end-0 translate-middle-y me-4 "
                                                        role="button" href="/ending" style="font-size: .8 rem;">ดูทั้งหมด</a>
                                                </div>
                                                <div
                                                    class="d-flex flex-row rounded-bottom-2  justify-content-center bg-secondary bg-opacity-25 pb-2">
                            
                                                    <div class="align-items-start justify-content-center d-flex flex-wrap ">
                                                        
                                                        <% if(ending.length) { %>
                                                            <% for(let i=0; i < ending.length; i++) { %>
                                                                    <div class="card mx-3 my-4 rounded-4 bg-light" style="width: 15rem">
                                                                        <a href="/tnmdetail/<%= ending[i].tnmID %>"
                                                                            class="text-decoration-none text-dark  fw-bolder">
                                                                            <div class="card-header bg-transparent text-truncate " >
                                                                                <%= ending[i].tnmName %>
                                                                            </div>
                            
                                                                            <img src="images/<%=ending[i].tnmPicture %>"
                                                                                class="card-img-top img-fluid rounded-0" style="height: 15rem">
                                                                            <div class="card-body">
                                                                                ช่วงวันที่แข่งขัน <%= ending[i].tnmStartdate.toLocaleDateString('th-TH',{day: '2-digit'
                                                                                , month: 'long' , year:'numeric'}) %> -
                                                                                <%= ending[i].tnmEnddate.toLocaleDateString('th-TH',{day: '2-digit'
                                                                                , month: 'long' , year:'numeric'}) %>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <% } %>
                                                                        <% } %>
                            
                                                                                <% if(!ending.length) { %>
                                                                                    <h4 class="text-center text-wrap" style="margin-top: 50px; margin-bottom: 50px;">ไม่พบรายการแข่งขัน</h4>
                                                                                    <% } %>
                                                    </div>
                            
                                                </div>
                                            </div>
                                            <!---------------------------------------------------------------------------------------------->
                            </body>

            </html>
        </div>