<%- include("../partials/header") %>
<%- include("../partials/banner") %>
        <div class="container-sm py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>สรุปรางวัล</title>
</head>
<body>

    <%- include("../partials/menuindex") %>
    <a href="javascript:history.back()" class="btn btn-primary">ย้อนกลับ</a>
   <h1>สรุปเหรียญรางวัล <%= data[0].name %></h1>
   <% let totalst1 =  solo[0][0].st1 + team[0][0].st1 %>
   <% let totalnd2 =  solo[0][0].nd2 + team[0][0].nd2 %>
   <% let totalrd3 =  solo[0][0].rd3 + team[0][0].rd3 %>
   <% let totalall = totalst1 + totalnd2 + totalrd3 %>
   รวมทั้งหมด<%= totalall %>
   รวมที่1=<%= totalst1 %>
   รวมที่2=<%= totalnd2 %>
   รวมที่3=<%= totalrd3 %>
   <hr style="height:2px;border-width:0;color:black;background-color:black">
  <br><br>
  <h1>รายการแข่งขันที่เข้าร่วม</h1>
  <hr style="height:2px;border-width:0;color:black;background-color:black">

  <% if(data.length) { %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ชื่อการแข่งขัน</th>
                <th width="230px">ลำดับที่</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < data.length; i++) { %>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <% } %>


    <% if(!data.length) { %>
        <p class="text-center">ไม่พบรายการสถานที่</p>
    <% } %>


</body>
</html>
</div>


