<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>sport</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('are you sure?');
        }
        </script>

<h1>รายการกีฬา</h1>
<a href="/sport/add" class="btn btn-primary">เพิ่มกีฬา</a>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link ml-auto">
                    
                </li>
            </ul>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ชื่อกีฬา</th>
                            <th scope="col">ประเภท</th>
                            <th scope="col">จำนวนผู้เล่น</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= data[i].sportID %></th>
                                <td><%= data[i].sportName %></td>
                                <td><%= data[i].type %></td>
                                <td><%= data[i].sportPlaynum %></td>
                                <td>
                                    <a href="../sport/edit/<%= data[i].sportID %>" class="btn btn-warning edit">แก้ไข</a>
                                    <a href="../sport/delete/<%= data[i].sportID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการกีฬา</p>
            <% } %>
        </div>
    </div>

</body>
</html>
</div>