<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>tournament</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('are you sure?');
        }
        </script>

        <h1>รายการแข่งขันที่ต้องบันทึกผล</h1>
        <div class="row">

            <div class="col">
                <a href="/tournament/add" class="btn btn-primary">เพิ่มการแข่งขัน</a>
            </div>
            <div class="col">
    
                <div class="row ">
                <form action="/tnmsave/search-tnmsave" method="post">
                    <div class="input-group">
                            <div class="col-auto text-end my-auto me-2">
        
                                วันที่แข่งขัน
                            </div>
                            <div class="col me-2">
                                <input type="date" name="startDate" class="form-control border border-dark">
                                
                            </div>
                            <div class="col">
                                <input type="text" name="search" class="form-control border border-dark" placeholder="ค้นหา ชื่อการแข่งขัน">
        
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">ค้นหา</button>
        
                            </div>
                        
                            
                    </div>
        
                </form>
                </div>
            </div>
                
        </div>

    <div class="card w-100">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link ml-auto">
                    
                </li>
            </ul>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">ชื่อการแข่งขัน</th>
                            <th scope="col">ประเภทกีฬา</th>
                            <th scope="col">รอบ</th>
                            <th scope="col">วันเวลา</th>
                            <th scope="col">สถานที่</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <% if(data[i].pDate === null || data[i].paceName === null || data[i].time === null || data[i].tnmTypegame === 'leaderboard') { %>

                                <% }else if(data[i].score1 === null || data[i].score2 === null){ %>
                                <td><%= i+1 %></td>
                                <td><%= data[i].tnmName %></td>
                                <td><%= data[i].sportName %></td>
                                <td><%= data[i].round %></td>
                        
                                <td><%= data[i].pDate.toLocaleDateString('th-TH',{day: '2-digit', month: 'long', year:'numeric'}) %> <%= data[i].time.slice(0, 5); %> - <%= data[i].timeend.slice(0, 5); %></td>
                                <td><%= data[i].placeName %></td>
                                <td>
                                    
                                    <a href="../doc/scoresheet.png" download="scoresheet.png" class="btn btn-warning">ใบคะแนน</a>
                                    <a href="../tournament/match/<%= data[i].tnmID %>" class="btn btn-primary page">ดู</a>
                                </td>
                                <% }%> 
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>
    </div>

</body>
</html>
</div>