<%- include("../../../partials/header") %>
<%- include("../../../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>สายการแข่งขัน 2</title>
<style>
    th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

</style>
  <style>
  .wrapper {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    justify-content: start;
  }

  .item {
    display: flex;
    flex-direction: row-reverse;
  }

  .item p {
    padding: 10px;
    margin: 0;
    min-width: 180px;
    text-align: center;
    background-color: rgb(228, 245, 243);
  }

  .item .box {
    padding: 5px;
    margin: 0;
    min-width: 8em;
    /* text-align: center; */
    background-color: rgb(228, 245, 243);
  }

  .item-text {
    position: absolute;
    left: 0;
    height: auto;
    overflow: hidden;
    font-size: 1em;
    font-weight: bold;
  }

  .item-text span {
    width: 9em;
  }

  .item-parent {
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .item-parent:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    left: 0;
    top: 50%;
    background-color: #000000;
    transform: translateX(-100%);
  }

  .item-childrens {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  .item-child:before {
    content: '';
    position: absolute;
    background-color: #000000;
    right: 0;
    top: 50%;
    transform: translateX(100%);
    width: 10px;
    height: 2px;
  }

  .item-child:after {
    content: '';
    position: absolute;
    background-color: #000000;
    right: -10px;
    height: calc(50% + 22px);
    width: 2px;
    top: 50%;
  }

  .item-child:last-child:after {
    transform: translateY(-100%);
  }

  .item-child:only-child:after {
    display: none;
  }
</style>
</head>
<body>
    <h1><%= tournamentName %></h1>

        <%- include("../../../partials/menu_staff.ejs") %>

        <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert"><%= messages.error %></div>
      <% } %>
      
        <br>
        <p class="display-5">การสายการแข่งรอบที่1</p>
        <h1 class="text-center">Round Robin</h1>
    <table class="table  w-75 mx-auto my-3  table-hover text-center align-middle">
      <thead class="table-primary" style="background-color: rgb(96, 166, 253); ">
        <tr>
          <th class="table-light border-dark"></th>
          <% let teamNames = []; %>
          <% data.forEach(function(match) { %>
            <% if (!teamNames.includes(match.team1)) { teamNames.push(match.team1); } %>
            <% if (!teamNames.includes(match.team2)) { teamNames.push(match.team2); } %>
          <% }); %>
          <% teamNames.forEach(function(teamName) { %>
            <th><%= teamName %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% teamNames.forEach(function(teamName) { %>
          <tr>
            <td class="table-primary border-dark fw-bold"><%= teamName %></td>
            <% teamNames.forEach(function(opponent) { %>
              <!-- <td> -->
                <% let score1 = ""; %>
                <% let score2 = ""; %>
                <% let winner = ""; %>
                <% let matchExists = false; %>
                <% data.forEach(function(match) { %>
                  <% if (match.team1 === teamName && match.team2 === opponent) { %>
                    <% score1 = match.score1; %>
                    <% score2 = match.score2; %>
                    <% if (match.score1 > match.score2) { winner = match.team1; } %>
                    <% if (match.score2 > match.score1) { winner = match.team2; } %>
                    <% matchExists = true; %>
                  <% } else if (match.team2 === teamName && match.team1 === opponent) { %>
                    <% score1 = match.score2; %>
                    <% score2 = match.score1; %>
                    <% if (match.score2 > match.score1) { winner = match.team1; } %>
                    <% if (match.score1 > match.score2) { winner = match.team2; } %>
                    <% matchExists = true; %>
                  <% } %>
                <% }); %>
                <% if (matchExists) { %>
                 <td> <%= score2 %> - <%= score1 %></td>
                <% } else { %>
                <td class="table-danger border-dark ">X</td>
                <% } %>
              <!-- </td> -->
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
        <br><br>
    
        <h3 class="text-center">ตารางคะแนน</h3>
        <table class="table  w-75 mx-auto my-5  table-hover text-center align-middle">
          <thead style="background-color: rgb(96, 166, 253); ">
            <tr>
              <th>ชื่อ</th>
              <th>ชนะ(ครั้ง)</th>
              <th>แพ้(ครั้ง)</th>
            </tr>
          </thead>
          <tbody>
            <% 
              let scoreboard = {};
              data.forEach(function(match) {
                if (!scoreboard[match.team1]) {
                  scoreboard[match.team1] = { wins: 0, losses: 0 };
                }
                if (!scoreboard[match.team2]) {
                  scoreboard[match.team2] = { wins: 0, losses: 0 };
                }
                if (match.score1 > match.score2) {
                  scoreboard[match.team1].wins++;
                  scoreboard[match.team2].losses++;
                }
                if (match.score2 > match.score1) {
                  scoreboard[match.team2].wins++;
                  scoreboard[match.team1].losses++;
                }
              });
               let sortedScoreboard = Object.entries(scoreboard).sort((a, b) => b[1].wins - a[1].wins);%>
        <% sortedScoreboard.forEach(function(team) { %>
          <tr>
            <td><%= team[0] %></td>
            <td><%= team[1].wins %></td>
            <td><%= team[1].losses %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>


    <p class="display-5 text-start ms-2"> สายการแข่งรอบที่2<p>
      <div class=" mx-auto w-50">
        <div class="container-md ">
          <% const datasingle = data.filter(item => item.seed !== null);%>
         
          <div class="wrapper">
            <div class="item mt-5">
              <div class="item-parent">
                <!-- 7 ผู้ขนะ -->
                <div class="box card border border-dark" id="score7">
                  <% if (datasingle[2]?.score1 && datasingle[2]?.score2) { %> <% if(datasingle[2]?.score1 > datasingle[2]?.score2){ %>
                  <div class=""><%= datasingle[2].team1 %></div>
                  <% }else{ %>
                  <div class=""><%= datasingle[2].team2 %></div>
                  <% } %> <% }else{ %>
                  <br />
                  <% } %>
      
                  <div class="point border-start-1" style="height: 100%"></div>
                </div>
              </div>
              <div class="item-childrens">
                <div class="item-child">
                  <div class="item">
                    <!-- รอบที่ 2 -->
                    <div class="item-parent">
                      <!-- 5 -->
                      <div class="box card border border-dark" id="score5">
                        <% if (datasingle[2]&& datasingle[2]?.team1){%>
                        <div class="d-flex justify-content-between">
                          <div class=""><%= datasingle[2].team1 %></div>
                          <div class="" style="height: 100%">
                            <% if (datasingle[2]?.score1) {%>
                            <strong> <%= datasingle[2].score1 %> </strong>
                            <% } %>
                          </div>
                        </div>
                        <% } else { %>
                        <div class="d-flex justify-content-center">
                          <div class="text-center">TBD</div>
                        </div>
                        <% } %>
                      </div>
                    </div>
                    <div class="item-childrens">
                      <!-- ------------------------------- คู่แรก -------------------------------- -->
                      <div class="item-child">
                        <div class="item">
                          <div class="item-child">
                            <!-- รอบที่ 1 1 -->
                            <div class="box card border border-dark" id="score1">
                              <% if (datasingle[0]&& datasingle[0]?.team1) { %>
                              <div class="d-flex justify-content-between">
                                <div class=""><%= datasingle[0].team1 %></div>
                                <% if (datasingle[0]?.score1 ) { %>
                                <strong> <%= datasingle[0].score1 %> </strong>
                                <% } %>
                              </div>
                              <% } else { %>
                              <div class="d-flex justify-content-center">
                                <div class="text-center">TBD</div>
                              </div>
                              <% } %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-child">
                        <!-- รอยที่ 1 2 -->
                        <div class="box card border border-dark" id="score2">
                          <% if (datasingle[0]&& datasingle[0]?.team2) { %>
                          <div class="d-flex justify-content-between">
                            <div class=""><%= datasingle[0].team2 %></div>
                            <% if (datasingle[0]?.score2) { %>
                            <strong> <%= datasingle[0].score2 %> </strong>
                            <% } %>
                          </div>
                          <% } else { %>
                          <div class="d-flex justify-content-center">
                            <div class="text-center">TBD</div>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-child">
                  <div class="item">
                    <!-- รอยที่ 2 6 -->
      
                    <div class="item-parent">
                      <div class="box card border border-dark" id="score6">
                        <% if (datasingle[2]&& datasingle[2]?.team2){%>
                        <div class="d-flex justify-content-between">
                          <div class=""><%= datasingle[2].team2 %></div>
                          <div class="" style="height: 100%">
                            <% if (datasingle[2]?.score2) {%>
                            <strong> <%= datasingle[2].score2%> </strong>
                            <% } %>
                          </div>
                        </div>
                        <% } else { %>
                        <div class="d-flex justify-content-center">
                          <div class="text-center">TBD</div>
                        </div>
                        <% } %>
                      </div>
                    </div>
      
                    <div class="item-childrens">
                      <!-- ------------------------------- คู่ที่2 ------------------------------- -->
      
                      <div class="item-child">
                        <div class="item">
                          <!-- รอยที่ 1 3 -->
                          <div class="box card border border-dark" id="score3">
                            <% if (datasingle[1]&& datasingle[1]?.team1) { %>
                            <div class="d-flex justify-content-between">
                              <div class=""><%= datasingle[1].team1 %></div>
                              <% if (datasingle[1]?.score1 ) { %>
                              <strong> <%= datasingle[1].score1 %> </strong>
                              <% } %>
                            </div>
                            <% } else { %>
                            <div class="d-flex justify-content-center">
                              <div class="text-center">TBD</div>
                            </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
      
                      <div class="item-child">
                        <!-- รอบที่ 1 4 -->
                        <div class="box card border border-dark" id="score4">
                          <% if (datasingle[1]&& datasingle[1]?.team2) { %>
                          <div class="d-flex justify-content-between">
                            <div class=""><%= datasingle[1].team2 %></div>
                            <% if (datasingle[1]?.score2) { %>
                            <strong> <%= datasingle[1].score2 %> </strong>
                            <% } %>
                          </div>
                          <% } else { %>
                          <div class="d-flex justify-content-center">
                            <div class="text-center">
                              <!-- TBD -->
                            </div>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-text d-flex mt-3">
              <span class="text-center">รอบรองชิงชนะเลิศ</span>
              <span class="text-center">รอบชิงชนะเลิศ</span>
              <span class="text-center">ชนะเลิศ</span>
            </div>
          </div>
        </div>
        <script>
          const data = JSON.parse('<%-JSON.stringify(data) %>');
          const datasingle = data.filter(item => item.seed !== null)
          if (datasingle[0]?.score1 && datasingle[0]?.score2) {
            if (datasingle[0]?.score1 > datasingle[0]?.score2) {
              document.getElementById('score1').className = 'box card border border-dark  text-bg-success';
            } else {
              document.getElementById('score2').className = 'box card border border-dark  text-bg-success';
            }
          }
          if (datasingle[1]?.score1 && datasingle[1]?.score2) {
            if (datasingle[1]?.score1 > datasingle[1]?.score2) {
              document.getElementById('score3').className = 'box card border border-dark  text-bg-success';
            } else {
              document.getElementById('score4').className = 'box card border border-dark  text-bg-success';
            }
          }
          if (datasingle[2]?.score1 && datasingle[2]?.score2) {
            if (datasingle[2]?.score1 > datasingle[2]?.score2) {
              document.getElementById('score5').className = 'box card border border-dark  text-bg-success';
            } else {
              document.getElementById('score6').className = 'box card border border-dark  text-bg-success';
            }
          }
      
          // ผู้ชนะ
          if (datasingle[2]?.score1 != null && datasingle[2]?.score2 != null) {
            document.getElementById('score7').className = 'box card border border-dark  text-bg-success';
          }
        </script>

</div>


  
          

</body>
</html>
</div>