<%- include("../partials/header") %>
    <%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

            <!DOCTYPE html>
            <html lang="en">

            <head>
                <title>tournament</title>
            </head>

            <body>

                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= messages.error %>
                    </div>
                    <% } %>


                        <div class="card">
                            <div class="card-header">
                                <p class="display-6 mb-0">
                                    เพิ่มการแข่งขัน
                                </p>
                            </div>
                            <div class="card-body">

                                <!--_________________ Form _________________-->
                                <form onsubmit="return validateFile()" action="/tournament/add" method="post" encType="multipart/form-data"
                                    class="form needs-validation">
                                    <!--  -->
                                    <div class="row my-2  p row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationNametour"
                                                class="col-form-label">ชื่อการแข่งขัน</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="text" class="form-control border-dark" id="validationNametour"
                                                value="" name="tnmName" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationSport" class="col-form-label">กีฬา</label>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select border-dark" id="validationSport" name="sportID"
                                                required>
                                                <option selected disabled value="">เลือกกีฬา</option>
                                                <% for(let i=0; i < data.length; i++) { %>
                                                    <option value="<%= data[i].sportID %>">
                                                        <%= data[i].sportName %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationDate_start"
                                                class="col-form-label">วันที่เปิดรับสมัคร</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="date" class="form-control border-dark"
                                                id="validationDate_start" value="" name="Rstartdate" autocomplete="off"
                                                required>
                                        </div>
                                        <div class="col-auto">
                                            <label for="validationDate" class="col-form-label">ถึง</label>
                                        </div>

                                        <div class="col-auto">
                                            <input type="date" class="form-control border-dark"
                                                id="validationDate_start" value="" name="Renddate" autocomplete="off"
                                                required>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationDate_end"
                                                class="col-form-label">วันที่เริ่มแข่ง</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="date" class="form-control border-dark" id="validationDate_end"
                                                value="" name="tnmStartdate" autocomplete="off" required>
                                        </div>
                                        <div class="col-auto">
                                            <label for="validationDate" class="col-form-label">ถึง</label>
                                        </div>

                                        <div class="col-auto">
                                            <input type="date" class="form-control border-dark" id="validationDate_end"
                                                value="" name="tnmEnddate" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationdetail" class="col-form-label">รายละเอียด</label>
                                        </div>
                                        <div class="col-4">
                                            <textarea class="form-control border-dark" id="validationdetail"
                                                name="tnmDetail" autocomplete="off" required></textarea>
                                        </div>
                                    </div>
                                    <!--  -->
                                    
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationFile_doc"
                                                class="col-form-label">เอกสารที่ใช้ในการสมัคร</label>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select border-dark" id="validationFile_doc"
                                                name="tnmUrl" required>
                                                <option selected disabled value="">เอกสารที่ใช้ในการสมัคร</option>
                                                <option value="บัตรประชาชน และ บัตรประจำตัวนักศึกษา">บัตรประชาชน และ
                                                    บัตรประจำตัวนักศึกษา</option>
                                                <option value="บัตรประชาชน">บัตรประชาชน</option>
                                                <option value="บัตรประจำตัวนักศึกษา">บัตรประจำตัวนักศึกษา</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationFile" class="col-form-label">ไฟล์แนบ</label>
                                        </div>
                                        <div class="col-3">
                                            <input type="file" class="form-control border-dark" id="validationFile"
                                            size="1048576" accept=".png, .jpg, .pdf" value="" name="tnmFile1" required>
                                        </div>
                                    </div>
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationFile" class="col-form-label"></label>
                                        </div>
                                        <div class="col-3">
                                            <input type="file" class="form-control border-dark" id="validationFile"
                                            maxlength="4000000" accept=".png, .jpg, .pdf"  value="" name="tnmFile2">
                                        </div>
                                    </div>
                                    <div class="row my-2   row-cols-2">
                                        <div class="col-2 ">
                                            <label for="validationFile" class="col-form-label"></label>
                                        </div>
                                        <div class="col-3">
                                            <input type="file" class="form-control border-dark" id="validationFile"
                                            maxlength="4000000" accept=".png, .jpg, .pdf"  value="" name="tnmFile3">
                                        </div>
                                    </div>
                                    </div>
                                    <!--  -->
                                    <div class="row row-cols-2">
                                        <div class="col-2 my-auto  ">
                                            <label for="validationImage" class=" col-form-label">รูปภาพปก<br> (ขนาด
                                                400 x
                                                550 px)</label>
                                        </div>
                                        <script>
                                            function preview() {
                                                imgpreview.src = URL.createObjectURL(event.target.files[0]);
                                                imgpreview.style.display = "block";

                                            }
                                        </script>
                                        <div class="col-3 my-auto ">
                                            <div class="row  ">
                                                <div class="col ">
                                                    <img id="imgpreview" class="w-50 rounded mx-auto mb-2 " alt=""
                                                        style="height: 10rem; display: none; ">
                                                    <input type="file" accept=".png, .jpg" class="form-control border-dark"
                                                        id="validationImage" value="" name="tnmPicture" required
                                                        onchange="preview()">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row row-cols-2 mt-5 text-center d-flex justify-content-center">
                                        <div class="col-2">
                                            <a href="javascript:history.back()" class="btn btn-primary">ย้อนกลับ</a>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-success" type="submit">ยืนยัน</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <script>
                            function validateFile() {
                              const fileInput = document.querySelector('input[name="tnmFile1"]');
                              const fileInput2 = document.querySelector('input[name="tnmFile2"]');
                              const fileInput3 = document.querySelector('input[name="tnmFile3"]');
                              const fileInput4 = document.querySelector('input[name="tnmPicture"]');
                              const file = fileInput.files[0];
                              const file2 = fileInput2.files[0];
                              const file3 = fileInput3.files[0];
                              const file4 = fileInput4.files[0];
                              if (file.size > 4000000) {
                                alert('ไฟล์แนบที่ 1 มีขนาดเกิน 4 MB');
                                return false;
                              }else if(file2.size>4000000){
                                alert('ไฟล์แนบที่ 2 มีขนาดเกิน 4 MB');
                                return false;
                              }else if( file3.size > 4000000){
                                alert('ไฟล์แนบที่ 3 มีขนาดเกิน 4 MB');
                                return false;
                              }else if(file4.size > 4000000){
                                alert('รูปภาพปกการแข่งขันมีขนาดเกิน 4 MB');
                              }
                              return true;
                            }
                            </script>

            </body>

            </html>
        </div>