<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เพิ่ม highlight</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
        .hidden{
          display: none;
        }
      </style>
</head>
<body>

    <h1>เพิ่มไฮไลต์ของ <%= data[0].tnmName %></h1>

    <%- include("../partials/menu_staff.ejs") %>

            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert"><%= messages.error %></div>
            <% } %>
            
            <% if (messages.success) { %>
                <div class="alert alert-success" role="alert"><%= messages.success %></div>
            <% } %>

            <div class="card-body">
                <form action="/tournament/highlight/add/<%= tnmID %>" method="post" encType="multipart/form-data">
                    <div class="row my-2   row-cols-2">
                        <div class="col-2 ">
                            <label for="validationDate_start" class="col-form-label">วันที่ไฮไลต์</label>
                        </div>
                        <div class="col-auto">
                        <input type="date" class="form-control border-dark" name="date" autocomplete="off" required>
                    </div>
                    </div>
                    <div class="row my-2   row-cols-2">
                        <div class="col-2">
                            <label for="validationDate_start" class="col-form-label">ประเภทไฮไลต์</label>
                        </div>
                    <div class="col-auto">
                        <select class="form-select border-dark" id="select-element">
                            <option selected>เลือก</option>
                            <option value="file">รูปภาพ</option>
                            <option value="text">วิดีโอ</option>
                        </select>
                    </div>
                </div>
                <div class="col ">
                <img id="imgpreview" class="w-30 rounded mx-auto mb-0 " alt="" style="height: 10rem; display: none; ">
                

                <div class="row my-2   row-cols-2"   id="file-input">
                    <div class="col-2 " >
                        <label for="validationDate_start" class="col-form-label">ไฟล์ภาพ</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control w-auto border-dark" type="file"  name="filePic" onchange="preview()">
                     </div>
                    <div class="row my-2   row-cols-2"  id="text-input">
                        <div class="col-2 " >
                            <label for="validationDate_start" class="col-form-label">ลิงก์วิดีโอ</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control w-auto border-dark"  type="text"  name="linkvid">
                    </div>
                    </div>
                    <div class="row my-2   row-cols-2">
                        <div class="col-2 ">
                            <label for="validationdetail" class="col-form-label">รายละเอียด</label>
                        </div>
                        <div class="col-4">
                            <textarea class="form-control border-dark" id="validationdetail"
                                name="description" autocomplete="off" required></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center mt-5" style="margin-top: 10px;">
                        <a href="javascript:history.back()" class="btn btn-primary">ย้อนกลับ</a>
                        <input type="submit" class="btn btn-success" value="เพิ่ม">
                    </div>
                </form>
            </div>
            
<script>
    $(document).ready(function() {
  // Hide the file input when the page loads
  $('#text-input').hide();
  $('#file-input').hide();
  $('#select-element').on('change', function() {

    var selectedValue = $(this).val();

    if (selectedValue === 'file') {
      $('#file-input').show();
      $('#text-input').hide();
    }else if (selectedValue === 'text') {
      $('#text-input').show();
      $('#file-input').hide();
    }else{
        $('#text-input').hide();
        $('#file-input').hide();  
    }
  });
});
</script>
<script>
    function preview() {
        imgpreview.src = URL.createObjectURL(event.target.files[0]);
        imgpreview.style.display = "block";

    }
</script>
            
</body>
</html>
</div>