
<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>tournament</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>

    <% const CRstartdate = data[0].Rstartdate.toISOString().substring(0, 10);%>
    <% const CRenddate = data[0].Renddate.toISOString().substring(0, 10);%>
    <% const CtnmStartdate = data[0].tnmStartdate.toISOString().substring(0, 10);%>
    <% const CtnmEnddate = data[0].tnmEnddate.toISOString().substring(0, 10);%>
    
    <h1>หน้าแก้ไขการแข่งขัน <%= tournamentname %></h1>
    <%- include("../partials/menu_staff.ejs") %>


            
    <div class="card">
        <div class="card-header">
            <h1>ข้อมูลการแข่งขัน</h1>
        </div>
        <div class="card-body">
           <!--_________________ Form _________________-->
           <form action="/tournament/update/<%= data[0].tnmID %>" method="post" encType="multipart/form-data"
            class="form needs-validation ">
            <!--  -->
            <div class="row my-2  p row-cols-2">
                <div class="col-2 ">
                    <label for="validationNametour" class="col-form-label">ชื่อการแข่งขัน</label>
                </div>
                <div class="col-form-label">
                    <%= data[0].tnmName %>
                </div>
            </div>
            <!--  -->
            <div class="row my-2   row-cols-2">
                <div class="col-2 ">
                    <label for="validationSport" class="col-form-label">กีฬา</label>
                </div>
                <div class="col-form-label">
                                <%= data[0].sportName %>

                </div>
            </div>
            <!--  -->
            <div class="row my-2   row-cols-2">
                <div class="col-2 ">
                    <label for="validationDate_start"
                        class="col-form-label">วันที่เปิดรับสมัคร</label>
                </div>
                <div class="col-auto">
                    <input type="date" class="form-control border-dark" id="validationDate_start"
                        value="<%= CRstartdate %>" name="Rstartdate" disabled>
                </div>
                <div class="col-auto">
                    <label for="validationDate" class="col-form-label">ถึง</label>
                </div>

                <div class="col-auto">
                    <input type="date" class="form-control border-dark" id="validationDate_start"
                        value="<%= CRenddate %>" name="Renddate" disabled>
                </div>
            </div>
            <!--  -->
            <div class="row my-2   row-cols-2">
                <div class="col-2 ">
                    <label for="validationDate_end" class="col-form-label">วันที่เริ่มแข่ง</label>
                </div>
                <div class="col-auto">
                    <input type="date" class="form-control border-dark" id="validationDate_end"
                        value="<%= CtnmStartdate %>" name="tnmStartdate" disabled>
                </div>
                <div class="col-auto">
                    <label for="validationDate" class="col-form-label">ถึง</label>
                </div>

                <div class="col-auto">
                    <input type="date" class="form-control border-dark" id="validationDate_end"
                        value="<%= CtnmEnddate %>" name="tnmEnddate" disabled>
                </div>
            </div>
            <!--  -->
            <div class="row my-2   row-cols-2">
                <div class="col-2 ">
                    <label for="validationFile_doc"
                        class="col-form-label">เอกสารที่ใช้ในการสมัคร</label>
                </div>
                <div class="col-auto">
                  <div class="col-form-label"><%= data[0].tnmUrl %></div>
                </div>
            </div>
            <!--  -->
            <div class="row my-2   row-cols-2">
                <div class="col-2 h-auto" style="max-height: 300px; min-height: 100px;">
                    <label for="validationdetail" class="col-form-label">รายละเอียด</label>
                </div>
                <div class="col-form-label">
<%= data[0].tnmDetail %>
                </div>
            </div>
            <!--  -->
            <div class="row my-2   row-cols-2">
                <div class="col-2 ">
                    <label for="validationFile" class="col-form-label">ไฟล์แนบ</label>
                </div>
                <div class="col-3">
                    <a href="../../doc/<%= data[0].tnmFile1%>" download="<%= data[0].tnmFile1 %>"><%= data[0].tnmFile1 %></a>
                </div>
            </div>
            <!--  -->
            <div class="row row-cols-2">
                <div class="col-2 my-auto  ">
                    <label for="validationImage" class=" col-form-label">รูปภาพปก<br> (ขนาด
                        400 x
                        550 px)</label>
                </div>
                <script>
                    function preview() {
                        imgpreview.src = URL.createObjectURL(event.target.files[0]);
                        imgpreview.style.display = "block";

                    }
                </script>
                <div class="col-3 my-auto ">
                    <div class="row  ">
                        <div class="col text-center">
                            <img src="/images/<%=data[0].tnmPicture %>" id="imgpreview" class=" w-75 rounded mx-auto mb-2 " alt=""
                                style="height: 10rem; ">
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row row-cols-2 mt-5  text-center d-flex justify-content-center">
                <div class="col-2">
                    <a href="javascript:history.back()" class="btn btn-primary">ย้อนกลับ</a>
                </div>
                <div class="col-2">
                    <a href="/tournament/edit/<%= data[0].tnmID%>" class="btn btn-warning">แก้ไข</a>
                </div>
            </div>
        </form>

        </div>
    </div>

</body>
</html>
</div>