<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>highlight</title>
</head>
<body>

    <h1>หน้าไฮไลต์ <%= data[0].tnmID %></h1>
            <ul class="nav nav-pills w-100">
                <td>
                    <a href="/tournament/edit/<%= data[0].tnmID %>" class="nav-link active">แก้ไขการแข่งขัน</a>
                    <a href="/tournament/bracket/<%= data[0].tnmID %>" class="nav-link active">จัดสายการแข่งขัน</a>
                    <a href="/tournament/participant/<%= data[0].tnmID %>" class="nav-link active">ผู้เข้าร่วม</a>
                    <a href="/tournament/match/<%= data[0].tnmID %>" class="nav-link active">แมทช์การแข่งขัน</a>
                    <a href="/tournament/highlight/<%= data[0].tnmID %>" class="nav-link active">ไฮไลต์</a>
                </td>
            </ul>
            
</body>
</html>
</div>