<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>participant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <h1>หน้าผู้เข้าร่วม <%= data[0].tnmName %></h1>
            <ul class="nav nav-pills w-100">
                <td>
                    <a href="/tournament/edit/<%= data[0].tnmID %>" class="nav-link active">แก้ไขการแข่งขัน</a>
                    <a href="/tournament/bracket/<%= data[0].tnmID %>" class="nav-link active">จัดสายการแข่งขัน</a>
                    <a href="/tournament/participant/<%= data[0].tnmID %>" class="nav-link active">ผู้เข้าร่วม</a>
                    <a href="/tournament/match/<%= data[0].tnmID %>" class="nav-link active">แมทช์การแข่งขัน</a>
                    <a href="/tournament/highlight/<%= data[0].tnmID %>" class="nav-link active">ไฮไลต์</a>
                </td>
            </ul>

 <% if(!data.teamID) { %>
        <!-- //แบบเดี่ยว -->
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ชื่อผู้เล่นที่เข้าร่วม</th>
                            <th scope="col">เพศ</th>
                            <th scope="col">อายุ</th>
                            <th scope="col">เบอร์ติดต่อ</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <% if(data[i].playerStatus === 'accept') { %>
                            <tr>
                                <td><%= data[i].playerFName %> <%= data[i].playerLName %></td>
                                <td><%= data[i].playerGender %></td>
                                <td><%= data[i].age %></td>
                                <td><%= data[i].playerPhone%></td>
                                <td>
                                    <a href="../tournament/edit/<%= data[i].tnmID %>" class="btn btn-warning edit">แก้ไข</a>
                                    <a href="../tournament/delete/<%= data[i].tnmID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                    <a href="../tournament/bracket/<%= data[i].tnmID %>" class="btn btn-primary page">ดู</a>
                                </td>
                            </tr>
                        <% }} %>
                    </tbody>
                </table>
            <% } %>
<% } %>
 <% if(data.teamID) { %>
<!-- //แบบทีม -->
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ชื่อทีมที่เข้าร่วม</th>
                            <th scope="col">จำนวนสมาชิก</th>
                            <th scope="col">ชื่อตัวแทน</th>
                            <th scope="col">เบอร์ติดต่อ</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].tnmName %></td>
                                <td><%= data[i].sportName %></td>
                                <td><%= data[i].tnmStartdate %></td>
                                <td><%= data[i].tournamentPlaynum %></td>
                                <td>
                                    <a href="../tournament/edit/<%= data[i].tnmID %>" class="btn btn-warning edit">แก้ไข</a>
                                    <a href="../tournament/delete/<%= data[i].tnmID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                    <a href="../tournament/bracket/<%= data[i].tnmID %>" class="btn btn-primary page">ดู</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
<% } %>



            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>

</body>
</html>
</div>