<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Participant</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
    <% if(data && data[0]) { %>
    <h1>หน้าผู้เข้าร่วม <%= tournamentName %></h1>
    <%- include("../partials/menu_staff.ejs") %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('คุณแน่ใจใช่หรือไม่ที่จะลบผู้เล่น?');
        }
        </script>

 <% if(!data[0].teamID) { %>
        <!-- //แบบเดี่ยว -->
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table  w-75 mx-auto my-5 border  border-dark table-striped table-hover text-center align-middle">
                    <thead style="background: rgb(96, 166, 253); ">
                        <tr>
                            <th scope="col">ชื่อผู้เล่นที่เข้าร่วม</th>
                            <th scope="col">เพศ</th>
                            <th scope="col">อายุ</th>
                            <th scope="col">เบอร์ติดต่อ</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].playerFName %> <%= data[i].playerLName %></td>
                                <td><%= data[i].playerGender %></td>
                                <td><%= data[i].age %></td>
                                <td><%= data[i].playerPhone%></td>
                                <td>
                                    <a href="/tnmcheck/edit/player/<%= data[i].playerID %>" class="btn btn-warning edit">แก้ไข</a>
                                    <a href="/tnmcheck/delete/player/<%= data[i].playerID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                    <a href="/tournament/participant/player/<%= data[i].playerID %>" class="btn btn-primary page">ดู</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                    <% } %>
                    <% } %>
                </table>



<!-- //แบบทีม -->
        <div class="card-body">
            <% if(data[0].teamID) { %>
                
                <table class="table  w-75 mx-auto my-5 border  border-dark table-striped table-hover text-center align-middle">
                    <thead style="background: rgb(96, 166, 253); ">
                        <tr>
                            <th scope="col">ชื่อทีมที่เข้าร่วม</th>
                            <th scope="col">จำนวนสมาชิก</th>
                            <th scope="col">ชื่อตัวแทน</th>
                            <th scope="col">เบอร์ติดต่อ</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].teamName %></td>
                                <td><%= data[i].playernum %></td>
                                <td><%= data[i].NameAgent %></td>
                                <td><%= data[i].teamPhoneA %></td>
                                <td>
                                    <a href="/tnmcheck/edit/team/<%= data[i].teamID %>" class="btn btn-warning edit">แก้ไข</a>
                                    <a href="/tnmcheck/delete/team/<%= data[i].teamID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                    <a href="/tournament/participant/team/<%= data[i].teamID %>" class="btn btn-primary page">ดู</a>
                                </td>
                            </tr>
                    <% } %>
                    </tbody>
                    <% } %>
<% } %>
                </table>
            



            <!-- if result is empty-->
            <% if(!data.length) { %>
                <h1><%= tournamentName %></h1>
                <%- include("../partials/menu_staff.ejs") %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>

        
    </body>

</html>
</div>