<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>tournament</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('are you sure?');
        }
        </script>


        <h1>รายการแข่งขันที่ต้องตรวจสอบผู้สมัคร</h1>
        <a href="/tournament/add" class="btn btn-primary">เพิ่มการแข่งขัน</a>
        <div class="float-end">
            <form action="/tnmcheck/search-tnmcheck" method="post">
                <div class="input-group ">
                    <input type="text" name="search" class="form-control border border-dark" placeholder="ชื่อการแข่งขัน/ชื่อผู้สมัคร">
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                </div>
            </form>
        </div>
    <div class="card w-100">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link ml-auto">
                    
                </li>
            </ul>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">ชื่อการแข่งขัน</th>
                            <th scope="col">ประเภทกีฬา</th>
                            <th scope="col">ปิดรับสมัคร</th>
                            <th scope="col">รอตรวจสอบ</th>
                            <th scope="col">ปฏิเสธ</th>
                            <th scope="col">อนุมัติ</th>
                            <th width="200px">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <% if(data[i].sportPlaynum > 1){ %>
                                <% data[i].wait_count = data[i].wait_count / data[i].sportPlaynum %>
                                <% data[i].deny_count = data[i].deny_count / data[i].sportPlaynum %>
                                <% data[i].accept_count = data[i].accept_count / data[i].sportPlaynum %>
                                <% } %>
                            <% if(data[i].wait_count){ %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= data[i].tnmName %></td>
                                <td><%= data[i].sportName %></td>
                                <td><%= data[i].Renddate.toLocaleDateString('th-TH',{day: '2-digit', month: 'long', year:'numeric'}) %></td>
                                <td><%= data[i].wait_count %></td>
                                <td><%= data[i].deny_count %></td>
                                <td><%= data[i].accept_count %></td>
                                <td>
                                    <a href="../tournament/delete/<%= data[i].tnmID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                    <% if(data[i].sportPlaynum > 1){ %>
                                    <a href="../tnmcheck/candidateteam/<%= data[i].tnmID %>" class="btn btn-primary page">ดู</a>
                                    <% }else{ %>
                                        <a href="../tnmcheck/candidatesolo/<%= data[i].tnmID %>" class="btn btn-primary page">ดู</a>
                                        <% } %>

                                </td>
                            </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการของการแข่งขัน</p>
            <% } %>
        </div>
    </div>

</body>
</html>
</div>