<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
        <div class="col-10 py-3 mx-auto">

        

<!DOCTYPE html>
<html lang="en">
<head>
    <title>uni</title>
</head>
<body>

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>

    <script type="text/javascript">
        function confirm_delete() {
          return confirm('are you sure?');
        }
        </script>
<h1>รายการมหาวิทยาลัย</h1>
<a href="/uni/add" class="btn btn-primary">เพิ่มมหาวิทยาลัย</a>
<div class="float-end">
    <form action="/uni/search-uni" method="post">
        <div class="input-group ">
            <input type="text" name="search" class="form-control border border-dark" placeholder="ค้นหา ชื่อมหาวิทยาลัย">
            <button type="submit" class="btn btn-primary">ค้นหา</button>
        </div>
    </form>
</div>
    
    <div class="card w-100">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link ml-auto">
                    
                </li>
            </ul>
        </div>
        <div class="card-body">
            <% if(data.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ชื่อมหาวิทยาลัย</th>
                            <th scope="col">สถานะการเข้าร่วม</th>
                            <th scope="col">จำนวนคณะ</th>
                            <th width="200px" class="text-center">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].status %></td>
                                <td><%= data[i].count %></td>
                                <td>
                                    <a href="../faculty/<%= data[i].uniID %>" class="btn btn-primary">ดู</a>
                                    <a href="../uni/edit/<%= data[i].uniID %>" class="btn btn-warning edit">แก้ไข</a>
                                    <a href="../uni/delete/<%= data[i].uniID %>" onclick="return confirm_delete()" class="btn btn-danger delete">ลบ</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <!-- if result is empty-->
            <% if(!data.length) { %>
                <p class="text-center">ไม่พบรายการมหาวิทยาลัย</p>
            <% } %>
        </div>
    </div>

</body>
</html>
</div>